@media (max-width: 1200px) {
  .nav-brand {
    display: none;
  }
  .second-head .container .navbar .container-fluid {
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .second-head {
    display: none;
  }
  .header-social-container {
    display: none !important;
  }
  .offcanvas-toggler-icon {
    display: inline-block !important;
  }
  .logo-head svg {
    height: 32px;
  }
  .main-title-head {
    font-size: 16px;
    font-weight: 400;
    width: 100px;
    letter-spacing: 0.16px;
    line-height: 17.6px;
  }
  .first-head {
    height: 61px;
  }
  .offcanvas-start.show {
    top: 61px;
  }
  .offcanvas-tale-header {
    top: 6.2px;
    left: 11.9%;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 567px) {
}
@media screen and (min-width: 300px) {
}
@media screen and (min-width: 567px) {
  .container-head {
    max-width: 567px;
  }
}
@media screen and (min-width: 768px) {
  .container-head {
    max-width: 768px;
  }
}
@media screen and (min-width: 992px) {
  .container-head {
    max-width: 992px;
  }
  .container-hero {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .container-head {
    max-width: 1200px;
  }
}
@media (min-width: 720px) and (max-width: 1023px) {
  .col-tab-6 {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .col-es-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
