brad/hotel_website_resurce/.DS_Store
brad/hotel_website_resurce/about.html
brad/hotel_website_resurce/contact.html
brad/hotel_website_resurce/index.html
brad/hotel_website_resurce/css/mobile.css
brad/hotel_website_resurce/css/style.css
brad/hotel_website_resurce/img/.DS_Store
brad/hotel_website_resurce/img/person-1.jpg
brad/hotel_website_resurce/img/person-2.jpg
brad/hotel_website_resurce/img/photo-1.jpg
brad/hotel_website_resurce/img/photo-2.jpg
brad/hotel_website_resurce/img/showcase.jpg
brad/hotel_website_resurce/img/test-bg.jpg
brad/sass_sandbox/package-lock.json
brad/sass_sandbox/package.json
