
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Lora:wght@400;500;600;700&family=Playfair+Display:wght@700&display=swap');

:root {
  --primary-color: #ff5722;
  --bs-primary-text: #ff5722;
  --bs-secondary-text-primary: #10375c;
  --bs-primary: #ff5722;
  /* --bs-primary-rgb: rgb(255, 87, 34); */
  --bs-primary-border: #ff5722;
  --primary-shade-color: #dd2c00;
  --secondary-color: #10375c;
  --secondary-shade-color: #0d2c4a;
  --secondary-background-color: #0d2c4a;
  --dark-color: #222831;
  --light-dark-shade-color: #9a9a9a;
  --light-color: #f8f8f8;
  --white-color: #fff;
  --dark-tint-text-color:#6a6a6a;
  --light-text-color: #dbdcdc;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ff5722;
  --bs-btn-border-color: #ff5722;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dd2c00;
  --bs-btn-hover-border-color: #dd2c00;
  
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #dd2c00;
  --bs-btn-active-border-color: #dd2c00;
  
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ff5722;
  --bs-btn-disabled-border-color: #ff5722;
}
.btn-outline-primary {
  --bs-btn-color: #ff5722;
  --bs-btn-border-color: #ff5722;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ff5722;
  --bs-btn-hover-border-color: #ff5722;
  
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ff5722;
  --bs-btn-active-border-color: #ff5722;
 
  --bs-btn-disabled-color: #ff5722;
 
  --bs-btn-disabled-border-color: #ff5722;

}
 html,
 body{
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
 }
 a{
  text-decoration: none;
  color:inherit;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6{
  font-family: 'Lora', serif;
 }
 .navbar-brand{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
 }

 .text-primary-color{
  color:var(--primary-color)
 }
 .text-secondary-color{
  color:var(--secondary-color)
 }
 .text-dark-color{

   color: var(--dark-color);
 }
 .text-dark-tint-color{

   color: var(--dark-tint-text-color);
 }


 .bg-secondary-color{
  background-color:var(--secondary-color);
  color: var(--white-color);
  
}
.bg-secondary-shade-color{
  background-color: var(--secondary-shade-color);
  color: var(--white-color);
  fill:#fff;
  stroke:#fff ;
 }
 .bg-dark-color{
  color: var(--dark-color);
  color: var(--white-color);
 }
 .long-dash{
  display: inline-block;
  width: 60px;
  height: 2px;
  background-color: var(--dark-color);
 }
 select + i {
  color:#fff;
  float: right;
  margin-top: -30px;
  margin-right: 5px;
  /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
  pointer-events: none;
  /* everything after this is just to cover up the original arrow */
  /* (for browsers that don't support the syntax used above) */
  padding-right: 5px;
}
.section-padding {
  padding: 68px 0;
}
.tartiary-padding{
  padding-bottom: 32px;
}
.btn-help{
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.096);
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  gap:8px;
  position:relative;
  z-index: 1;
  flex-grow: 0;
  flex-shrink: 1;
}
.btn-help i{
  background-color: var(--primary-color);
  color: var(--white-color);
  position: relative;
  z-index: 2;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.096);
  /* margin-bottom: -68px; */
  line-height: 1.5;
  padding:8px 1px;
}