/* Navvbar */
header .nav-link{
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
header .nav-link:hover{
  border-bottom: 2px solid var(--primary-color);
}

/* Hero section */
.hero-section{
  padding: 3rem 0 4rem;
}
.ms-negetive{
  margin-left: -6rem;
  margin-right: -4rem;
}
.hero-idicator.carousel-indicators [data-bs-target] {
  width: 8px;
}

.hero-idicator.carousel-indicators .active{
  width:30px;
  background-color: var(--primary-color);
}
/* experience-section */

.experience-card{
 max-width: 24rem;
}
.experience-card-hover-conent{
  opacity: 0;
  transition: all 0.5s ease-in;
  
}
.experience-card:hover img.card-img-top{
  opacity: 0;
}
.experience-card:hover .experience-card-hover-conent{
  opacity: 1;
}
.btn-experiance{
  padding: 1rem 2rem;
  top:63.2%;
  
  overflow-y: hidden;
}
.btn-experiance:hover{
  background-color: var(--primary-color);
}
.experience-card:hover .btn-experiance{
  top:auto;
  bottom:28px;
}
.btn-experiance span{
 margin-left: -149px;
  transition: margin-left 0.5s ease 0.1s;
}
.btn-experiance:hover span{
  margin-left: 0;
}
.experience-card-hover-conent::after{
  content: '';
  height: 200px;
  width: 200px;
  position: absolute;
  background: url(../img/experience-bg-pattern.png) no-repeat 100% 0%/50%;
  z-index: 3;
  top:12px;
  right:12px
}

.experiance-slider .carousel-indicators{
  right:auto;
  bottom:auto;
  top: 37px;
  left: -268px;
  z-index: 4;
  transform: rotate(90deg);
}
  .experiance-slider .carousel-indicators [data-bs-target]{
    background-color: #dfdfdf;
    margin:0;
  }
  .experiance-slider .carousel-indicators .active {
    opacity: 1;
    background-color: var(--primary-color);
}
.experiance-slider .carousel-control-next, .experiance-slider .carousel-control-prev{
  opacity: 1;
  z-index: 4;
  bottom: auto;
  left: auto;
  right:50px;
  top:-82px;
  width:4%;
  transition: all 0.3s ease;
}
.experiance-slider .carousel-control-prev{
  right: 120px;
}
.experiance-slider .carousel-control-prev .carousel-control-prev-icon {
  
  background-image: url(../img/icon/left-arrow-svgrepo-com.svg);
}
.experiance-slider .carousel-control-next .carousel-control-next-icon {
  
  background-image: url(../img/icon/right-arrow-svgrepo-com.svg);
}
  .experiance-slider .carousel-control-prev:hover .carousel-control-prev-icon {
  background-image: url(../img/icon/left-arrow-long-svgrepo-com.svg);
}
  .experiance-slider .carousel-control-next:hover .carousel-control-next-icon {
  background-image: url(../img/icon/right-arrow-long-svgrepo-com.svg);
}

/* Feature */

/* feature-tab */
.facility-tab-nav.nav-tabs .nav-link{
  color:var(--dark-color);
  font-weight: 600;
  /* padding: 1rem; */
}
.facility-tab-nav.nav-tabs .nav-link:hover{
  box-shadow: 2px 2px 4px rgba(255, 86, 34, 0.4);
}
.facility-tab-nav.nav-tabs .nav-link.active{
  color: var(--white-color);
  background-color: var(--primary-color);
  box-shadow: 2px 2px 4px rgba(255, 86, 34, 0.4);
  transform: translate(1px, -1px);
}
/* Gallery section */
.gallery-section{
  padding-bottom: 0;
}
/* .margin-bottom-negetive{
  margin-bottom: -40px;
} */

.gallery-wrapper{
  
  top:-140px;
}

/* Logo Section */
.logo-section{
  margin-top: -40px;
}

/* testimonial-section */
.testimonial-content{
  gap: 48px;
}

/* blog section */
.blog-section{
  background-color: #F8F8F8;
}
.testimonial-card{
  
  max-width: 420px;
  min-width: 337px;
}
.blog-container .row > div:not(:first-child) .card .card-body{
  min-height: 159px;
}
/* CTA section */
.cta-img-container{
  background: url(../img/icon/Pattern.png) no-repeat center center/contain;
}
/* Footer section */

.footer-social-logo li:hover{
  color:var(--primary-color);

}