@media (max-width:1400px){
  .hero-title{
    font-size: 76px;
  }
  
}
@media (max-width:1200px){
.hero-title{
    font-size: 61px;
  }
}
@media (max-width:992px){
  .section-padding {
      padding: 64px 0;
    }
.hero-title{
    font-size: 57px;
  }
}
@media (max-width:768px){
  .section-padding {
      padding: 60px 0;
    }
  .hero-content form,
  .help-cta form{
    width: 100% !important;
    padding-bottom: 24px;
  }
  .cta-container > *,
  .team-content > div:last-child,
  .cta-2-section > div h1{
    width:100% !important;
  }
  .btns-wrapper > div:last-child{
    position: static !important;
  }
  .testimonial-card > div{
    min-height: 200px;
  }
  .cta-2-img-container img {
    max-width: 50%;
}
}
@media (max-width:578px){
  .section-padding {
      padding: 48px 0;
    }
    .hero-img-container img{
      max-width: 75%;
    }

}
@media (max-width:320px){
 input[type=text],
 input[type=email]{
  width: 100% !important;
 }
}