/* Navvbar */
header .nav-link{
  border-bottom: 2px solid #fff;
  transition: all 0.3s;
}
header .nav-link:hover{
  border-bottom: 2px solid var(--bs-primary);
}

/* Hero-section */
.hero-title{
  font-size: 96px;
  letter-spacing: -1.5;
  font-weight: 500;
  line-height: 1;

}
.hero-text{
  font-size: 20px;
  letter-spacing: 0.15px;
  line-height: 1.5;

}

/* work- section */
.work-text{
  max-width: 768px;
}
/* CTA section */
.cta-container{
  background: url(../img/CTA-Banner.png) no-repeat right center/cover;
}
.cta-text{
  font-size: 20px;
  max-width: 500px;
}
/* Testimonial */
.testimonial-slider{
  position: relative;
}
.testimonial-card > div{
  min-height: 268px;
}
.btns-wrapper{
  min-height: 75px;;
}
.customNextBtn,
.customPreviousBtn{
  transition: all 0.5s ease;
}
.customNextBtn:hover,
.customPreviousBtn:hover{
  background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity)) !important;
  color: #fff;
  cursor: pointer;

}


/* CTA 2 section */
.cta-section.cta-2-section .container .cta-container{
  background-image: url(../img/Mask\ group.png) !important;
  background-color: #242039 !important;
}


/* help section  */

.help-btn.accordion-button:not(.collapsed)::after {
  background-image: url(../img/minus-blue.png);
}
.help-btn.accordion-button{
  background-color: #fff;
}
.help-btn.accordion-button::after {
 
  background-image: url(../img/plus-blue.png);
  border-radius: 50%;
}
  #help .accordion-item{
    border-left: 0;
    border-right: none;
  }