@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{

  
  --primary-color:#1eb2a6;
  
  --primary-color-25:#F0F2F5;
  --secondary-color:#1C1C22;
  --secondary-color-25:#fff;
}



*,
*:before,
*:after{
  box-sizing: border-box;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header, section, footer{
  overflow-x: hidden;
}

html,
 body{
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  background: #f8f8f8;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

 }


 a, button {
  color: var(--primary-color);
  text-decoration: none;
}
a:hover, a:focus, button:hover, button:focus {
  text-decoration: none;
  color: var(--primary-color);
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
 h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, .h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}
 .hero-title{
  font-weight: 600;
    color: #fff;
    font-size: 40px;
    line-height: 1.2;
 }

 footer ul {
   list-style: none;
   padding: 0;
   margin-right: 0;
   margin-left: 0;
  }
 p{
 margin-bottom: 1rem;
}
.subheading{
  text-transform: uppercase;
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 5px;
}
.hero-section .subheading{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  z-index: 0;
  letter-spacing: 2px;
  display: inline-block;
}
/* Padding */
.section-padding {
  padding: 8rem 0;
}
.tartiary-padding{
  padding-bottom: 32px;
}
.new-form-control-padding{
  padding: 0.375rem 0.85rem;
}
.pb-30{
  padding-bottom: 30px !important;
}
/* button */
.main-navbar-light .btn-custom {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: var(--primary-color);
  padding: 1.5rem;
  color: #fff;
  border-radius: 0;
  position: relative;
  display: inline-block;
  width: 216.89px;
  z-index: 0;
  text-align: center;
  border: 1px solid transparent;
  letter-spacing: 2px;
}
.btn.btn-primary {
  background: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
  color: #fff !important;
  padding: 9px 12px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top-width: 2px;
}

.btn.btn-white {
  background: #fff !important;
  border: 1px solid #fff !important;
  color: var(--primary-color) !important;
  padding: 9px 12px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top-width: 2px;
}
.btn i {
  font-size: 16px;
    line-height: 1;
    margin-left: 10px;
}
 
.btn-primary-color:hover{
  background-color: var(--primary-color);
  font-weight: 700;
  color:#fff;
}
 
  .btn-outline-primary-color{
    color:var(--primary-color);
    border: solid 2px var(--primary-color);
    background-color: var(--primary-color-25);
    width:12rem;
   height: 3rem;
   
    
   }
  .btn-outline-primary-color:hover{
    font-weight: 700;
    border: solid 2px var(--primary-color);
    
   }



/* textcolor */
.text-primary-color{
  color:var(--primary-color)  !important;
}
.text-secondary-color{
  color:var(--secondary-color-100);
}
/* Background color */


.bg-primary-color{
  background: var(--primary-color);
}
.bg-primary-25{
  background: var(--primary-color-25);
}
.bg-secondary-color{
  background: var(--secondary-color);
}
.bg-darken{
  background: #e9e9e9;
}
/* width */
.w-20{
  width:20%;
}
.w-40{
  width:40%;
}
.nav-link{
  cursor: pointer;
}

/* icon */
.fa{
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}