
@media (max-width:1400px){
  .hero-title{
    font-size: calc(48px + (76 - 48) * ((100vw - 280px) / (1440 - 280)));
  }
  .section-padding {
    padding: calc(48px + (64 - 48) * ((100vw - 280px) / (1440 - 280))) 0;
  }
  .hero-cta-container label{
    font-size: 12px;
  }
    .blog-date{
      font-size: calc(8px + (16 - 8) * ((100vw - 280px) / (1440 - 280)));
    }
  
}
@media (max-width:1200px){
  
  
  
 
 
}


@media (max-width:991.98px){
  
  /* .hero-title{
    font-size: 3.625rem;
  } */
  .main-navbar-light {
    background: #22c8ba !important;
}


}
@media (max-width:767.98px){
  .main-navbar-light .navbar-brand {
    color: #fff; }
    .block-7 {
      margin-top: 30px; }
  
}
@media (max-width:578px){
  .section-padding {
    padding: 48px 0;
  }
}
 