.tagcloud-box .tag-cloud-link {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  color: #1eb2a6;
  font-weight: 500;
  font-size: 12px;
  background: #fff;
}
.about-author .biodata {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
}
.about-author .description {
  width: calc(100% - 80px);
}
.about-author .description h3 {
  font-size: 30px;
  font-weight: 400;
}
.comment-form-wrap {
  clear: both;
}
.comment-form-wrap .comment-form {
  background: #fff;
}
.comment-form-wrap .form-group {
  width: 100%;
  margin-bottom: 10px;
}
.comment-form-wrap .form-group label {
  font-size: 13px;
  text-transform: uppercase;
  color: #1eb2a6;
  font-weight: 700;
  margin-bottom: 10px;
}
.comment-form-wrap textarea.form-control {
  height: inherit !important;
}
.comment-list {
  padding: 0;
  margin: 0;
}
.comment-list .children {
  padding: 50px 0 0 40px;
  margin: 0;
  float: left;
  width: 100%;
}
.comment-list li {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
}
.comment-list li .visitor {
  width: 80px;
  float: left;
}
.comment-list li .visitor img {
  width: 50px;
  border-radius: 50%;
}
.comment-list li .comment-body {
  float: right;
  width: calc(100% - 80px);
}
.comment-list li .comment-body h3 {
  font-size: 18px;
  font-weight: 500;
}
.comment-list li .comment-body .meta {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .1em;
  color: ligten(#111111, 30%);
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}
.comment-list li .comment-body .reply {
  padding: 5px 10px;
  background: #e6e6e6;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .1em;
  font-weight: 600;
  border-radius: 4px;
  background: #1eb2a6;
}
.comment-list li .comment-body .reply:hover {
  color: #fff;
  background: black;
}
.search-form .form-group {
  position: relative;
}
.search-form .form-group input {
  padding-right: 50px;
  font-size: 14px;
  border: none;
}
.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #1eb2a6;
}
.sidebar-sec {
  margin-bottom: 30px;
  padding: 10px;
  font-size: 15px;
  width: 100%;
}
.sidebar-sec *:last-child {
  margin-bottom: 0;
}
.sidebar-sec h3 {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
}
.categories {
  padding: 0;
}
.categories li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
}
.categories li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
.categories li a {
  display: block;
  color: #666666;
  padding-left: 25px;
}
.categories li a span {
  position: absolute;
  left: 0;
  top: 0;
  color: #1eb2a6;
}
.categories li.active a {
  color: #000000;
  font-style: italic;
}
.footer-blog .aside-blog-img {
  display: block;
  height: 80px;
  width: 80px;
}
.sidebar-sec .aside-blog .text .heading a {
  font-size: 18px;
  color:#000;
  
}
.sidebar-sec .aside-blog .text {

  width: calc(100% - 90px);
  padding-left: 0;

}