



/* Navbar */
.top-navbar {
  background: transparent !important;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 1.2em 0;
}
.navbar-brand {
  font-weight: 800;
  font-size: 30px;
  color: #fff;
  z-index: 3;
  position: relative;
  line-height: 1.1;
  text-transform: uppercase;
}
.navbar-brand span {
  color: #fff;
  line-height: 1.1;
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  font-weight: 500;
}
.top-navbar .con .icon span {
  color: #fff;
  font-size: 38px;
  line-height: 1;
}
.top-navbar .con .text {
  padding-left: 10px;
}
.top-navbar .con .text span, .top-navbar .con .text strong {
  display: block;
  line-height: 1.4;
  color: #fff;
}
.top-navbar .social-media > div a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 4px;
  background: rgba(255, 255, 255, 0.2);
}
.top-navbar .social-media > div a:hover {
  background: #1eb2a6;
}
.top-navbar .social-media > div a .fa-brands {
  color:#1eb2a6
}
.top-navbar .social-media > div a:hover .fa-brands {
  color:#fff;
}
.main-navbar-light {
  background: transparent !important;
  position: absolute;
  top: 95px;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 0;
}
  .main-navbar-light .container-xl{
padding-left: 0;
    padding-right: 0;
    background: rgba(255, 255, 255, 0.1);
    max-width: 1300px;
  }
.main-navbar-light .btn-custom:before {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -20px;
  width: 100px;
  background: #1eb2a6;
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  z-index: -1;
  content: '';
}
.main-navbar-light .navbar-nav > .nav-item > .nav-link.active {
  color: #1eb2a6;
  position: relative;
  z-index: 0;
}

.main-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 15px;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 25px;
  padding-right: 25px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
}
.main-navbar-light .navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0.9) !important;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em;
}
/* hero section */

.hero-section{
  height: 100vh;
  min-height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  z-index: 0;
  background-image: url('../img/bg_1.jpg');
}
.hero-section .slider-text {

  height: 100vh;
  min-height: 750px;
  color: rgba(255, 255, 255, 0.8);
  z-index: 3;
}
/* feature-section */
.facility-tab-nav .nav-link,
.facility-tab-nav .nav-link.active{
  border:none;
  border-bottom: 1px solid #000; 
  border-top: 1px solid rgba(0, 0, 0, 0.063); 
  color:#000;
}

/* destinaton section */
.paris-detination::after{
  content: "";
}

.star-tag{
  box-shadow: 0px 6px 30px 0px rgba(27, 72, 90, 0.06);
  top:24px;
  right:24px;
}

/* Testimonial section */
.testimonial-section{
  background: url("../img/testimoniaol-bg.png") no-repeat bottom left/cover;
}

.testimonial-content hr{
  width: 113%;
  margin-left: -24px;
}

.right-103{
  right:13%;
  top:-13px;
}

/* Blog section */

.blog-img-container::before{
content: "";
height: 100%;
width: 98%;
position: absolute;
top:0;
left:-100%;
transition: all .3s ease;
background-color: rgba(1, 6, 20, 0.4);
z-index: 1;
border-radius: 0 30px 0 0;
}
.blog-img-container:hover::before{
  left:0;
}
.blog-content{
  transition: all 0.3s cubic-bezier(0.57, 0.01, 0.94, 0.42) 0.2s;
}
.blog-img-container:hover .blog-content{
  opacity: 1 !important;
}
.blog-content:hover{
  transform: translateY(4px);

}
.blog-content h3 a:hover{
  text-decoration: underline;
}

/* Footer */
.footer-logo li a{
  height: 40px;
  width: 40px;
  background-color: #fff;

}
.footer-logo a:hover{
   color:#fff;
   background-color: var(--primary-color-100);
}