@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Montez&family=Open+Sans:wght@400;500;600;700&display=swap');

:root{

  --primary-color-100:#1B485A;
  --primary-color-80:#496D7B;
  --primary-color-50:#8DA3AC;
  --primary-color-25:#E8EDEF;
  --secondary-color-100:#FF5522;
  --secondary-color-50:#FFAA90;
  --secondary-color-25:#FFEEE9;
}



*{
  box-sizing: border-box;
  
}

html,
 body{
  font-family: 'Open Sans', sans-serif;
  
 }
 body{
  /* overflow-x: hidden; */
  /* background: url(../img/body-bg.png) no-repeat top center/contain; */
  /* position: relative; */
  /* overflow-x: hidden; */
}


.bg-body{
   background:url("../img/MAP.png") no-repeat top center/cover;
  overflow-x: hidden;
  
 }
.bg-body::before{
  content:url('../img/bg-hero-top-left-color.png')  ;
  position: absolute;
    top: -48px;  
    right: 0; 
   

    object-fit: cover;
 }
  .bg-body::after{
    content: '';
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 400px;
    background: var(--primary-primary-80, #496D7B);
    filter: blur(232.5px);
    position: absolute;
    top: 493px;
    left: -157px;
 
  }
 /* .bg-body::after{
  content: '';
  background-image: url("../img/bg-left-mid-hero.png");
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100px;
  height: 100%;
  position: absolute;
    top: 0;  
    left: 0; 
    transform: translate(0, -50%);
    z-index: -1;
    
    
 } */
 a{
  text-decoration: none;
  color:inherit;
 }
 .hero-title,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6{
  font-family: 'El Messiri', sans-serif;
  text-transform: capitalize;
  line-height: 1.2;
  font-weight: 700p;
 }
 .hero-title{
  font-size: 4.625rem;
 }

 footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
 p{
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.subtitle{
  font-family: 'Montez', cursive;
  font-size: 28px;
  color:var(--secondary-color-100);

}
/* Padding */
.section-padding {
  padding: 68px 0;
}
.tartiary-padding{
  padding-bottom: 32px;
}
.new-form-control-padding{
  padding: 0.375rem 0.85rem;
}
/* button */
 .btn-primaty-color{
   color:#fff;
   border: none;
   background-color: var(--primary-color-100);
   padding: 16px 32px;
   
  }
  .btn-primaty-color:hover{
    color: #fff;
    background-color: var(--primary-color-80);
  }
  .btn-outline-primary-color{
    color:var(--primary-color-100);
    border: solid 2px var(--primary-color-100);
    /* background-color: var(--primary-color-100); */
    padding: 16px 32px;
    
   }
  .btn-outline-primary-color:hover{
    border: solid 2px var(--primary-color-100);
    background-color: var(--primary-color-25);
    
   }


.hero-play-btn{
 width: 88px;
 height: 88px;
 position: relative;
}
.hero-play-btn::after{
  content: url('../img/play-outer-circle.png');
  position: absolute;
  animation:rotate-text 50s linear infinite;
  
}
.rotate-btn{
 width: 90px;
 height: 90px;
 position: relative;
}
.rotate-btn::after{
  content: "";
  position: absolute;
  animation:rotate-text 50s linear infinite;
  
}
@keyframes rotate-text { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.hero-play-btn:hover:after,
.rotate-btn:hover:after{
  animation-play-state: paused;
}
.rotate-btn.best-btn::after{
content: url('../img/feature-outer-btn.png');
}
.rotate-btn.cta-btn::after{
  content: url('../img/cta-btn.png');
}
.rotate-btn.testimonial-book-btn::after{
  content: url('../img/testimonial-book-btn.png');
  
}
/* textcolor */
.text-primary-color{
  color:var(--primary-color-100);
}
.text-secondary-color{
  color:var(--secondary-color-100);
}
/* Background color */


.bg-primary-100{
  background: var(--primary-color-100);
}
.bg-primary-80{
  background: var(--primary-color-80);
}

.bg-primary-50{
  background: var(--primary-color-50);
}
.bg-primary-25{
  background: var(--primary-color-25);
}
.bg-secondary-100{
  background: var(--secondary-color-100);
}
.bg-dark-color{
  background: #0C111F;
}
/* width */
.w-20{
  width:20%;
}
.w-40{
  width:40%;
}
.nav-link{
  cursor: pointer;
}
