
/* Navbar */
nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
#navbar-tr.top {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(15px);
}
nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* nav .logo-tr a h2,
footer .footer-logo h2 {
  width: 100%;
  color: var(--white-color);
} */

nav .nav-content div {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

nav ul li {
  display: inline-block;
  position: relative;
  padding: 1.6rem 0;
  transition: all 0.3s;
}
nav ul li a {
  padding: 8px 16px;
  margin: 0 5px;
  color: #000;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  border-radius: 4px;
}
nav li a:hover {
  border-bottom: 2px solid var(--primary-color);
}
nav ul li > ul {
  display: none;
}
nav ul li > ul > li {
  padding: 8px 0;
  width: 100%;
}
nav ul li > ul > li > a {
  width: 90%;
}

nav ul li:hover > ul {
  display: block;
  position: absolute;
  left: 0;
  margin-top: 16px;
  background-color: var(--dark-color);
  border-radius: 4px;
}


.menu-wrap {
  position: relative;
}
nav {
  padding: 1.6rem 0;
}
nav .nav-content {
  display: none;
}

/* hamburger menu */
.menu-wrap {
  display: block;
  min-height: 3.64rem;
}
/* creating hamburger */
.menu-wrap .toggler-tr {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 12;
  width: 52px;
  height: 52px;
  opacity: 0;
  cursor: pointer;
}
.menu-wrap .hamburger-tr {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
  width: 30px;
  height: 52px;
  padding: 12px 16px;
}
/* hamburger lines */
.hamburger-tr > div {
  height: 3px;
  max-width: 15px;
  min-width: 15px;
  width:15px !important;
  background: #000;
  transition: all 0.4s ease;
  position: relative;
  margin-left: auto;
  border-radius: 30% 0 0 30%;
}
.hamburger-tr > div:before,
.hamburger-tr > div:after {
  content: "";
  position: absolute;
  top: -8px;
  right:0;
  height: 3px;
  width: 24px;
  background: #000;
  border-radius: 30% 0 0 30%;
}
.hamburger-tr > div:after {
  top: 8px;
  width:30px;
}
/* Cross animation */
.toggler-tr:checked + .hamburger-tr > div {
  transform: rotate(135deg);
  width: 30px !important;
  max-width: 30px;
  min-width: 30px;
}
.toggler-tr:checked + .hamburger-tr > div:before,
.toggler-tr:checked + .hamburger-tr > div:after {
  width:30px;
  top: 0;
  transform: rotate(90deg);
}


/* rotate when checheked and hover */
.toggler-tr:checked:hover + .hamburger-tr > div {
  transform: rotate(225deg);
}
nav .menu-content div ul li {
  display: block;
  text-align: center;
  justify-content: center;
  padding:0;

}
nav .menu-content {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 200vw;
  z-index: 9;
  background: rgba(255, 255, 255, 0.8);
  visibility: hidden;
  transition: all 0.4s ease;
  
}
nav .menu-content div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
nav .menu-content div > ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  padding-top: 16px;
}
nav .menu-content div ul li a {
  font-size: 20px;
  line-height: 1;
}
nav .menu-content div .btn {
  font-size: 20px;
  line-height: 1;
}

nav .menu-content div {
  position: absolute;
  width: 90vw;
  height: 100vh;
  z-index: 12;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all 0.4s ease;
  border-radius: 50%;
}
nav .menu-wrap .toggler-tr:checked ~ .menu-content {
  visibility: visible;
}
nav .menu-wrap .toggler-tr:checked ~ .menu-content div {
  transform: scale(1);
}

nav ul li:hover > ul {
  position: relative;
  width: 100%;
  border: 1px dotted var(--primary-color);
 
}
@media (max-height:440px) {
  nav .menu-content{
    overflow-y: scroll;
  }
  
}
/* hero section */

.hero-play-btn-position{

  top:40px;
  right:40px
}
.hero-cta-container{
  width:60%;
  margin-top: -86px;
}
.hero-form select label{
  font-size: 12px;
  color: var(--typography-paragraph-color, #5C6666);
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.6px;
text-transform: uppercase;
}
.hero-form select{

}
.hero-form select,
.hero-form select:focus,
.hero-form select option,
.hero-form input{
  font-family: 'El Messiri', sans-serif;
  font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 20px */
letter-spacing: 0.8px;
background: var(--primary-color--25);
box-shadow: none;
}

/* best sectoion  */
.best-content{
  max-width: 590px;
}
/* feature-section */
.facility-tab-nav .nav-link,
.facility-tab-nav .nav-link.active{
  border:none;
  border-bottom: 1px solid #000; 
  border-top: 1px solid rgba(0, 0, 0, 0.063); 
  color:#000;
}

/* destinaton section */
.paris-detination::after{
  content: "";
}

.star-tag{
  box-shadow: 0px 6px 30px 0px rgba(27, 72, 90, 0.06);
  top:24px;
  right:24px;
}

/* Testimonial section */
.testimonial-section{
  background: url("../img/testimoniaol-bg.png");
}

.testimonial-content hr{
  width: 113%;
  margin-left: -24px;
}

.right-103{
  right:13%;
  top:-13px;
}

/* Blog section */

.blog-img-container::before{
content: "";
height: 100%;
width: 98%;
position: absolute;
top:0;
left:-100%;
transition: all .3s ease;
background-color: rgba(1, 6, 20, 0.4);
z-index: 1;
border-radius: 0 30px 0 0;
}
.blog-img-container:hover::before{
  left:0;
}
.blog-content{
  transition: all 0.3s cubic-bezier(0.57, 0.01, 0.94, 0.42) 0.2s;
}
.blog-img-container:hover .blog-content{
  opacity: 1 !important;
}
.blog-content:hover{
  transform: translateY(4px);

}
.blog-content h3 a:hover{
  text-decoration: underline;
}

/* Footer */
.footer-logo li a{
  height: 40px;
  width: 40px;
  background-color: #fff;

}
.footer-logo a:hover{
   color:#fff;
   background-color: var(--primary-color-100);
}