@media (max-width: 1200px) {
  .section-padding {
    padding: 64px 0;
  }
  header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.9)
    );
  }
  .hero-title,
  .hero-title span strong,
  .hero-title .hero-title-small-font {
    font-size: 57px;
  }
  .hero-content {
    background: none;
  }
  .testimonnial-card {
    padding: 20px;
    max-width: 286px;
    gap: 24px;
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  /* .section */
  .section-padding {
    padding: 54px 0;
  }
  .hero-title,
  .hero-title span strong,
  .hero-title .hero-title-small-font {
    font-size: 48px;
  }
  .newsletter {
    max-width: 100%;
  }
  .newsletter .tartiary-title {
    margin-bottom: 16px;
  }
  .testimonnial-wrapper > div:last-child,
  .doctor-wrapper > div:last-child {
    display: none;
  }
  .cta-wrapper {
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
  }
  .footer-wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 70px;
    row-gap: 48px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
  .hero-title,
  .hero-title span strong,
  .hero-title .hero-title-small-font {
    font-size: 40px;
  }
  .hero-content .text-area {
    gap: 32px;
  }
  .section-padding {
    padding: 50px 0;
  }
  .achive-item {
    width: 50%;
  }
  .about-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .about-content {
    width: 100%;
  }
  .about-text-area {
    max-width: 100%;
    gap: 20px;
  }
  .about-text-area .tartiary-title {
    margin-bottom: 20px;
  }
  .about-img {
    margin-left: 0;
  }

  .doctor-wrapper > div:last-child {
    display: flex;
  }
  .testimonnial-wrapper > div:last-child,
  .testimonnial-wrapper > div {
    display: flex;

    justify-content: center;
  }
  .testimonnial-card {
    padding: 36px;
    max-width: 100%;
    gap: 24px;

    margin-bottom: 20px;
  }
  .doctor-card {
    flex-direction: row;
    align-items: center;
  }
  .doctor-card-container {
    min-width: 100%;
  }
  .doctor-img-container {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 8px;
  }
  .achive-item {
    width: 50%;
  }
  .section-padding {
    padding: 46px 0;
  }
  .btn {
    /* width: 100%;
    padding-left: 0;
    padding-right: 0; */
    /* display: flex;
    justify-content: center; */
    font-size: 12px;
  }
  .tartiary-title {
    font-size: 33px;
    margin-bottom: 24px;
  }
  .hero-img {
    background: url(../img/hero-img.webp) no-repeat right bottom/contain;
  }
  .hero-content {
    align-items: center;
    justify-content: center;
  }
  .hero-content .text-area .btn-container {
    gap: 12px;
  }
  .hero-img,
  header {
    height: 100vh;
  }
  .hero-content .text-area {
    gap: 20px;
  }
  .work-title {
    margin-bottom: 0;
  }
  .achive-title-area {
    margin-bottom: 24px;
  }
  .doctor-card {
    flex-direction: column;
    align-items: center;
  }
  .doctor-card-container .btn-container {
    gap: 4px;
  }
  .about-text-area {
    gap: 24px;
  }
  .work-card {
    padding: 24px 44px;
  }
  .doctor-img-container {
    width: 100%;
  }
  .primary-btn.dr-card-btn,
  .light-btn.dr-card-btn {
    width: 100%;
  }
  .testimonnial-card {
    padding: 2px;
    gap: 16px;
  }
  .footer-wrapper {
    grid-template-columns: 1fr;
    justify-items: baseline;
  }
  .footer-heading {
    margin-bottom: 24px;
  }
}
