header {
  background: linear-gradient(to right, #fff 54.5%, #d0eaff 45.5%);
  line-height: 1.2;
  height: 100vh;
}
/* Navbar */
nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 0;
}
#navbar.top {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
nav div {
  display: flex;
  justify-content: space-between;
}
nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .logo a h2,
footer .footer-logo h2 {
  width: 100%;
  color: var(--white-color);
}

nav .nav-content div {
  display: flex;
  align-items: center;
  gap: 32px;
}

nav li {
  display: inline;
}
nav li a {
  padding: 8px 16px;
  margin: 0 5px;
  color: var(--dark-color);
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
}
nav li a:hover {
  border-bottom: 2px solid var(--primary-color);
}

nav .btn {
  margin-left: 12px;
}

.menu-wrap {
  display: none;
  position: relative;
}

/* ///////////// */
/* hero section */
/* ///////////// */

.hero-img {
  background: url(../img/hero-img.webp) no-repeat right bottom/40%;
  height: 100vh;
}
.hero-content {
  max-width: 550px;
  color: var(--dark-color);
  height: 100vh;
  display: flex;
  align-items: center;
}
.hero-content .text-area {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero-title {
  font-size: 83px;
  font-weight: 400;
  letter-spacing: -5.3px;
  line-height: 0.92;
  margin-bottom: 8px;
}
.hero-title strong {
  font-weight: 500;
}
.hero-title .hero-title-small-font {
  font-size: 76px;
}
/* //////////////////////// */
/* Achivement stats section */
/* //////////////////////// */
.achive-section {
  padding: 100px 0;
  background: var(--light-shade-color);
  text-align: center;
}
.achive-title-area {
  margin-bottom: 70px;
}
.achive-wrapper {
  display: flex;
  justify-content: space-around;
}
.achive-item .tartiary-title {
  margin-bottom: 12px;
}
/* ///////////// */
/* About Section */
/* ///////////// */
.about-section {
  padding: 100px 0;
}
.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 32px 8px;
  backdrop-filter: blur(35px);
  width: 55%;
}

.about-text-area {
  /* position: relative;
  z-index: 3; */
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about-img {
  margin-left: -10%;
  flex: 1;
}
.about-img img {
  border-radius: 4px;
}

/* ///////////// */
/* work Section */
/* ///////////// */
.work-section {
  padding: 100px 0;
}
.work-title {
  margin-bottom: 40px;
}
.work-wrapper {
  display: flex;
  justify-content: space-between;
}
.work-card {
  padding: 44px;
  border-bottom: 4px solid var(--dark-color);
  width: 300px;
  border-radius: 4px;
}
.work-card:hover {
  border-color: var(--primary-color);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}
.work-card .back-no {
  opacity: 0.1;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 69px;
}
.third-title {
  font-size: 23px;
  font-weight: 500;
}
.work-card .third-title {
  margin-top: -52px;
}
/* ///////////// */
/* doctor Section */
/* ///////////// */
.doctor-section {
  padding: 100px 0;
  background: linear-gradient(to bottom, #fff 50%, #f8f8f8 50%);
}
.doctor-wrapper {
  display: flex;
  justify-content: space-between;
}
.doctor-card {
  width: 400px;
  padding: 16px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-bottom: 4px solid #aaa;
  border-radius: 4px;
}
.doctor-card:hover {
  border-color: var(--primary-color);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}
.doctor-img-container img {
  border-radius: 4px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
.doctor-id {
  display: flex;
  align-items: center;
  gap: 20px;
}
.rating-logo {
  display: flex;
  gap: 4px;
}
.rating-logo i {
  color: gold;
}
.doctor-card .btn-container {
  gap: 0;
  justify-content: space-between;
}

.doctor-card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* ///////////// */
/* testimonial Section */
/* ///////////// */
.testimonial-section {
  padding: 100px 0;
}
.testimonnial-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.testimonnial-card {
  padding: 40px 24px 40px 40px;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 6px;
  box-shadow: 0 0 15px 1px rgba(51, 51, 51, 0.019);
}
.testimonnial-card.active {
  box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
}

/* ///////////// */
/* cta Section */
/* ///////////// */
.cta-section {
  padding: 100px 0;
}
.cta-wrapper {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 20px;
}
.newsletter {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cta-btn {
  border-color: var(--white-color);
}

/* ///////////// */
/* footer Section */
/* ///////////// */

footer {
  padding-top: 100px;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 20px;
}
.footer-col {
}
.footer-heading {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
}
.footer-social-logo {
  display: flex;
  gap: 3%;
}
.footer-heading img {
  width: 70%;
}
.footer-social-logo i:hover {
  color: var(--primary-color);
}
.footer-wrapper div:first-child .footer-heading {
}
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.copy-section {
  padding: 12px;
}
