@media (max-width: 1400px) {
  nav .nav-content div {
    gap: 0;
  }
  .hero-text-container {
    gap: 20px;
  }
  nav .logo {
    margin-left: -60px;
  }
  .hero-img-container-1,
  .hero-img-container-2 {
    width: 90%;
  }
  .header-button {
    margin-right: -52px;
  }
}

@media (max-width: 1200px) {
  .hero-img-container-1,
  .hero-img-container-2 {
    width: 80%;
  }
  .hero-img-container-2 {
    margin-top: -100px;
  }
  nav .nav-content div {
    gap: 0;
  }
  nav .logo {
    margin-left: -45px;
  }
}
@media (max-width: 992px) {
  .section-padding {
    padding: 64px 0;
  }

  nav .logo {
    margin-left: 0;
  }

  .header-button {
    position: absolute;
    right: 0;
    top: 20px;
    margin: 0;
  }
  .hero-wrapper {
    padding-top: 64px;
  }
  .hero-img-container-2 {
    margin-top: 0;
  }
  .hero-text-container,
  .hero-img-container-2,
  .hero-img-container-1 {
    align-self: center;
  }
  .hero-text-container {
    gap: 24px;
  }
  .hero-title {
    font-size: 49px;
  }
  .tartiary-title {
    font-size: 39px;
  }
  .blog-wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .blog-content p {
    margin-bottom: 40px;
  }
  .blog-wrapper .blog-content,
  .blog-wrapper .blog-img-container {
    max-width: 80%;
    width: auto;
    align-self: center;
  }
  .blog-wrapper .blog-img-container {
    max-width: 50%;
  }
  .btn-img-container img {
    height: 90px;
  }
  .achive-img-wrapper {
    flex-wrap: wrap;
    gap: 2%;
  }
  .achive-img-wrapper .achive-img-container {
    flex: none;
    width: 40%;
    margin-bottom: 20px;
  }
  .rating-logo {
    margin-left: 0;
    margin-top: 10px;
  }
  .testimonial-id {
    justify-content: space-between;
  }
  .logo-wrapper {
    flex-wrap: wrap;
  }
  .logo-container {
    width: 190px;
  }
  .footer-wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 70px;
    row-gap: 48px;
  }
  .footer-heading {
    margin-bottom: 32px;
  }
}
@media (max-width: 768px) {
  .section-padding {
    padding: 64px 0;
  }
  .achive-wrapper {
    padding: 64px 0 32px 0;
  }
  .achive-item {
    flex-basis: 45%;
  }
  .testimonial-wrapper {
    grid-template-columns: 1fr;
  }
  .rating-logo {
    margin-left: auto;
    margin-top: 10px;
  }
  .testimonial-id {
    justify-content: unset;
  }
  .blog-section .section-padding.blog {
    padding-bottom: 0;
  }
  .blog-wrapper .blog-img-container {
    max-width: 80%;
  }
  .footer-wrapper {
    row-gap: 38;
  }
  .footer-nav {
    gap: 16px;
  }
}
@media (max-width: 576px) {
  header {
    margin-bottom: 0;
  }
  .section-padding {
    padding: 60px 0;
  }
  .tartiary-title {
    font-size: 20px;
  }
  .hero-wrapper {
    grid-template-columns: 100%;
  }
  .hero-wrapper > div:not(:last-child) {
    margin-bottom: 20px;
  }
  .hero-title {
    font-size: 31px;
    margin-bottom: 10px;
  }
  .hero-img-container-1,
  .hero-img-container-2 {
    width: 50%;
  }
  .blog-section .section-padding.blog {
    padding: 32px 0 0 0;
  }
  .blog-wrapper {
    gap: 24px;
  }
  .blog-content p {
    margin-bottom: 24px;
  }
  .blog-content .btn-container {
    height: auto;
    flex-direction: column;
  }

  .blog-content .btn-container .btn-img-container {
    height: 100px;
    flex: 1;
  }
  .achive-img-wrapper .achive-img-container {
    flex: none;
    width: 88%;
    padding: 23% 14%;
  }

  .achive-img-wrapper div:nth-child(odd) {
    order: 1;
  }
  .rating-logo {
    margin-left: 0;
  }
  .achive-item {
    flex-basis: 100%;
  }
  .achiv-count {
    font-size: 32px;
  }

  .testimonial-title.section-padding {
    padding: 48px 0 20px 0;
  }
  .logo-wrapper .logo-container {
    text-align: center;
  }
  .footer-wrapper {
    grid-template-columns: 100%;
    /* justify-items: baseline; */
  }
  .footer-wrapper > div:not(:last-child) {
    padding-bottom: 28px;
    border-bottom: 1px dotted #9c9c9c;
  }
  .footer-wrapper {
    row-gap: 32;
  }
}
