@media (max-width: 1400px) {
  nav .nav-content div {
    gap: 0;
  }
  .hero-text-container {
    gap: 20px;
  }
  nav .logo {
    margin-left: -60px;
  }
  .hero-img-container-1,
  .hero-img-container-2 {
    width: 90%;
  }
  .header-button {
    margin-right: -52px;
  }
}

@media (max-width: 1200px) {
  .section-padding {
    padding: 60px 0;
  }
  .hero-img-container-1,
  .hero-img-container-2 {
    width: 80%;
  }
  .hero-img-container-2 {
    margin-top: -100px;
  }
  nav .nav-content div {
    gap: 0;
  }
  nav .logo {
    margin-left: -45px;
  }
}
@media (max-width: 992px) {
  .section-padding {
    padding: 58px 0;
  }
  nav .logo {
    margin-left: 0;
  }

  .header-button {
    position: absolute;
    right: 0;
    top: 20px;
    margin: 0;
  }
  .hero-img-container-1 {
    margin-top: 60px;
  }
  .hero-img-container-2 {
    margin-top: -10px;
  }
  .hero-title {
    font-size: 49px;
  }
  .tartiary-title {
    font-size: 39px;
  }
}
@media (max-width: 768px) {
  .section-padding {
    padding: 54px 0;
  }
}
@media (max-width: 576px) {
  .section-padding {
    padding: 50px 0;
  }
}
