@media (max-width: 1200px) {
  footer::before {
    left: 1%;
    bottom: 2%;
    height: 200px;
    width: 200px;
  }
  footer:after {
    height: 300px;
    width: 150px;
  }
}

@media (max-width: 992px) {
  .hero-cta {
    margin: 0 auto;
    order: -1;
  }
  .best-part-section {
    padding-bottom: 20px;
  }
  .best-part-wrapper {
    gap: 32px;
  }
  .best-part-content {
    margin: auto;
  }

  .history-wrapper {
    gap: 0;
  }
  .history-content-container {
    margin-left: -62px;
  }
  footer::before {
    display: none;
  }
  footer:after {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero-content {
    max-width: 100%;
  }
  .hero-content .text-area {
    text-align: center;
  }
  .hero-form-title,
  .form-text {
    text-align: center;
  }
  .best-part-wrapper {
    text-align: center;
  }
  .experience-section {
    padding: 50px 0 60px;
  }
  .experience-wrapper {
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    text-align: center;
  }
  .experience-wrapper figure img {
    width: 100%;
  }
  .experience-wrapper figure {
    margin: 0;
  }
  .experience-wrapper figure:after {
    display: none;
  }
  .history-section {
    padding: 0 0 70px 0;
  }
  .history-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .history-content-container {
    margin: 0;
    flex-basis: auto;
  }

  .history-img-container-1 {
    right: 11.2%;
    bottom: -129px;
  }
  .history-img-container-2 {
    left: 11.2%;
    top: -129px;
  }

  .feature-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .feature-container {
    max-width: 400px;
  }

  .logo-wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 12px 0 0 0;
  }
  .client-logo {
    width: 50%;
  }
  .footer-wrapper div:first-child {
    flex-basis: 60%;
  }

  .footer-wrapper div:nth-child(2) {
    flex-basis: 40%;
  }
  .footer-wrapper div:nth-child(3) {
    flex-basis: 60%;
  }
  .footer-wrapper div:last-child {
    flex-basis: 40%;
  }
}
@media (max-width: 578px) {
  html,
  body {
    font-size: 14px;
  }
  .hero-content {
    padding: 70px 0 70px;
  }
  .hero-title {
    font-size: 48px;
  }
  .hero-content .sub-title {
    font-size: 20px;
  }
  .hero-content .small-text {
    font-weight: 500;
  }
  .best-part-content .best-part-title {
    font-size: 23px;
  }
  .expertise-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tartiary-title {
    font-size: 28px;
  }

  .expertise-card {
    width: 70%;
  }
  .history-img-container-1,
  .history-img-container-2 {
    width: 50%;
  }
  .client-logo {
    width: 70%;
  }
  .footer-wrapper {
    display: block;
    text-align: center;
  }
  .footer-wrapper > div {
    margin-bottom: 24px;
  }
  .footer-logo {
    display: block;
    text-align: center;
  }
  .footer-social-logo {
    justify-content: center;
  }
}
@media (max-width: 460px) {
  .experience-wrapper figure:after {
    left: 1%;
  }
  .client-logo {
    width: 80%;
  }
}
