@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0 40px;
  }
  .history-wrapper {
    gap: 0;
  }
  footer::before {
    left: 1%;
    bottom: 2%;
    height: 200px;
    width: 200px;
  }
  footer:after {
    height: 300px;
    width: 150px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
    padding: 0 40px;
  }
  .hero-cta {
    margin: 0 auto;
    order: -1;
  }
  .best-part-section {
    padding-bottom: 20px;
  }
  .best-part-wrapper {
    gap: 60px;
  }
  .best-part-content {
    margin: auto;
  }
  .experience-section {
    padding: 70px 0;
  }
  .expertise-section {
    padding: 70px 0;
  }
  .history-section {
    padding: 100px 0px;
  }
  .history-content-container {
    max-width: 570px;
    margin-left: -32px;
  }
  .truth-section {
    padding: 90px 0;
  }
  .footer-wrapper {
    gap: 1%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 30px;
  }
  .hero-content {
    max-width: 100%;
  }
  .hero-content .text-area {
    text-align: center;
  }
  .hero-form-title,
  .form-text {
    text-align: center;
  }
  .best-part-wrapper {
    text-align: center;
  }
  .experience-section {
    padding: 50px 0;
  }
  .experience-wrapper {
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    text-align: center;
  }
  .experience-wrapper figure img {
    width: 100%;
  }
  .experience-wrapper figure {
    margin: 0;
    width: 70%;
  }
  .experience-wrapper figure:after {
    display: none;
  }
  .experience-wrapper .experience-content p {
    margin-bottom: 20px;
  }
  .expertise-section {
    padding: 50px 0;
  }
  .history-section {
    padding: 50px 0 70px;
  }
  .history-wrapper {
    flex-direction: column;
    gap: 24px;
    text-align: center;
  }
  .history-content-container {
    margin: 0;
    flex-basis: auto;
  }
  .history-content-container .history-content .tartiary-title {
    margin-bottom: 24px;
  }

  .history-wrapper .img-part {
    gap: 2%;
  }
  .history-img-container-1,
  .history-img-container-2 {
    width: 100%;
    position: static;
    flex-shrink: 1;
  }
  .history-img-container-1 img,
  .history-img-container-2 img {
    border: none;
    object-fit: cover;
    aspect-ratio: 89 / 116;
  }
  .feature-section {
    padding: 50px 0;
  }
  .feature-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .feature-container {
    max-width: 400px;
  }
  .logo-section {
    padding: 50px 0;
  }
  .logo-wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 12px 0 0 0;
  }
  .client-logo {
    width: 50%;
  }
  .truth-section {
    padding: 40px 0;
  }
  footer {
    padding-top: 60px;
  }
  .footer-wrapper {
    grid-template-columns: 2fr 1fr;
  }
  .footer-heading {
    margin: 20px 0;
    font-size: 18px;
  }
  footer .footer-logo {
    margin-bottom: 12px;
  }
}
@media (max-width: 578px) {
  html,
  body {
    font-size: 14px;
  }
  .container {
    max-width: 540px;
    padding: 0 20px;
  }
  .hero-content {
    padding: 70px 0 70px;
  }
  .hero-title {
    font-size: 48px;
  }
  .hero-content .sub-title {
    font-size: 20px;
  }
  .hero-content .small-text {
    font-weight: 500;
  }
  .best-part-content .best-part-title {
    font-size: 23px;
  }
  .expertise-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tartiary-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .experience-wrapper figure {
    margin: 0;
    width: 98%;
  }
  .expertise-card {
    width: 70%;
  }

  .client-logo {
    width: 70%;
  }
  .footer-wrapper {
    display: block;
    text-align: center;
  }
  .footer-wrapper > div {
    padding-bottom: 28px;
    border-bottom: 1px dotted #7f7f7f;
  }

  .footer-logo {
    display: block;
    text-align: center;
  }
  .footer-social-logo {
    justify-content: center;
  }
  .footer-heading {
    margin: 20px 0;
    font-size: 16px;
  }
}
@media (max-width: 460px) {
  .experience-wrapper figure:after {
    left: 1%;
  }
  .client-logo {
    width: 80%;
  }
}
