/* Navebar */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/hero-img-2.jpg") no-repeat center center/cover;
  line-height: 1.2;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 10px;
}
#navbar.top {
  position: fixed;
  top: 0;
  background-color: var(--dark-color);
  opacity: 0.8;
}
nav div {
  display: flex;
  justify-content: space-between;
}
nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .logo a h2,
footer .footer-logo h2 {
  /* display: block; */
  width: 100%;
  color: var(--white-color);
}

nav .nav-content div {
  display: flex;
  align-items: center;
  gap: 32px;
}

nav li {
  display: inline;
}
nav li a {
  padding: 8px 16px;
  margin: 0 5px;
  color: var(--white-color);
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
}
nav li a:hover {
  border-bottom: 2px solid var(--primary-color);
}

nav .btn {
  margin-left: 12px;
}

.menu-wrap {
  display: none;
  position: relative;
}
/* Hero Section */
.hero-section {
  position: relative;
}
.hero-content {
  max-width: 550px;
  color: var(--white-color);
  padding: 170px 0 170px;
  /* text-align: center; */
}
.hero-title {
  font-size: 61px;
  line-height: 1.2;
  margin-bottom: 12px;
  font-weight: 700;
  letter-spacing: -1px;
}
.hero-content .text-area a {
  display: inline-block;
}
.hero-content .sub-title {
  color: var(--primary-color);
  font-size: 25px;
  font-weight: 800;
  line-height: 1.2;
}
.hero-content .btn {
  margin: 20px 0;
}
.hero-content p {
  margin-bottom: 12px;
}
.hero-content .small-text {
  font-weight: 800;
  letter-spacing: 2.4px;
}
.hero-cta {
  /* position: absolute;
  bottom: -230px;
  right: 13px; */
  max-width: 400px;
  margin-left: auto;
  margin-top: -478px;
}
.hero-form-wrap {
  background-color: var(--white-color);
  padding: 16px 24px;
  border-radius: 5px;
  box-shadow: 0px 8px 24px #959da533;
  /* box-shadow: 0 8px 24px var(--dark-shade-color); */
}
.hero-form-title {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 12px;
}
.form-text {
  opacity: 0.9;
  margin-bottom: 16px;
  line-height: 1.2;
  letter-spacing: 1px;
}
.hero-form-wrap .form-group {
  margin-bottom: 20px;
}

.hero-form-wrap .form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(51, 51, 51, 0.3);
  border-radius: 5px;
}
.hero-form-wrap form input[type="checkbox"] {
  margin-bottom: 24px;
}

.hero-form-wrap form input[type="submit"] {
  width: 100%;
  margin-bottom: 16px;
}
input::placeholder {
  color: var(--secondary-color);
  opacity: 0.6;
}
.hero-form-wrap div a,
.hero-form-wrap p:last-child {
  display: block;
  text-align: center;
}
.hero-form-wrap div a {
  color: blue;
}
.hero-form-wrap div a:hover {
  text-decoration: underline;
}
/* best part section */
.best-part-section {
  padding: 50px 0 100px;
}
.best-part-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.best-part-content {
  max-width: 470px;
}
.best-part-content .best-part-title {
  font-size: 25px;
  margin-bottom: 12px;
}

/* experience section */
.experience-section {
  padding: 100px 0 120px;
}
.expertise-heading {
  margin-bottom: 40px;
}
.experience-wrapper {
  display: grid;
  grid-template-columns: 40% 60%;

  align-items: center;
}
.experience-wrapper figure img {
  border-radius: 2px 30% 2px 2px;
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 80%;
}
.experience-wrapper figure {
  position: relative;
}
.experience-wrapper figure:after {
  content: "";
  position: absolute;
  border-radius: 2px 30% 2px 2px;
  top: 12px;
  left: -16px;
  width: 80%;
  height: 100%;
  background: var(--dark-tint-color);
  z-index: 1;
}
.experience-wrapper .experience-content p {
  margin-bottom: 48px;
}
/* expertise section */
.expertise-section {
  padding: 120px 0;
  background-color: var(--dark-tint-color);
  text-align: center;
}
.expertise-wrapper {
  display: flex;
  gap: 40px;
}
.expertise-card {
  width: 33.3%;
  /* text-align: center; */
}
.expertise-card img {
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-bottom: 40px;
  max-width: 250px;
}
.expertise-card-content h3 {
  margin-bottom: 24px;
}
/* history-section */
.history-section {
  padding: 180px 0px;
}
.history-wrapper {
  display: flex;
  align-items: center;
  gap: 2%;
}
.history-img-container-1,
.history-img-container-2 {
  width: 256px;
  position: relative;
}
.history-img-container-1 {
  position: relative;
  bottom: 38px;
}
.history-img-container-2 {
  right: 100px;
}
.history-img-container-1 img,
.history-img-container-2 img {
  object-fit: cover;
  /* aspect-ratio: 36 / 54; */
  border-radius: 15px;
  border: 4px solid var(--white-color);
}
.history-img-container-1 img {
}
.history-content-container {
  flex-basis: 552px;
}
/* Feature Section */
.feature-section {
  padding: 190px 0;
  background-color: var(--dark-tint-color);
}
.feature-wrapper {
  display: flex;
  gap: 40px;
}
.feature-logo {
  padding: 10%;
  border-radius: 50%;
  border: 1px solid var(--white-color);
  margin: 0 30% 24px;
}
.feature-container h3,
.feature-container p {
  text-align: center;
  margin-bottom: 24px;
}
/* logo section */
.logo-section {
  padding: 90px 0 90px;
}
.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 50px 0;
}
.client-logo {
  padding: 12px;
  height: 80px;
  width: 20%;
  border: 1px solid var(--dark-color);
  border-radius: 16px;
  box-shadow: 0 0 2px 0.3px var(--primary-color);
}
.client-logo img {
  height: 100%;
}
/* truth section */
.truth-section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/hero-img-1.jpg") no-repeat center center/cover;
  padding: 120px 0 120px;
  position: relative;
  overflow-x: hidden;
}

.truth-section .footer-content {
  max-width: 672px;
  margin: 0 auto;
}
.footer-btn {
  display: inline-flex;
  align-items: center;
  text-align: left;
  gap: 20px;
}
/* footer sectin */
footer {
  background-color: var(--dark-tint-color);
  padding: 90px 0 10px;
}
footer .footer-logo {
  margin-bottom: 24px;
}
footer a {
  color: var(--white-color);
}
footer a:hover {
  color: var(--dark-color);
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-address-col {
  align-self: flex-start;
}
.footer-address-col address {
  margin-bottom: 12px;
}
.footer-social-logo {
  display: flex;
  /* justify-content: space-around; */
  gap: 16px;
  padding: 24px 0;
}
.footer-heading {
  margin-bottom: 8px;
  font-size: 18px;
}
.footer-nav li {
  padding-bottom: 8px;
}

.copy-section {
  text-align: center;
  padding: 12px;
}
