@media (max-width:1400px){
  .section-padding {
    padding: 64px 0;
  }
  .cta-section.section-padding{
    padding: 79px 0;
  }
  .hero-title{
    font-size: 66px;
  }  
  .hero-icon-area:before {
   
    left: -31px;
  }
}
@media (max-width:1200px){
  .section-padding {
    padding: 62px 0;
  }
  .hero-title{
    font-size: 60px;
  }  
  .hero-icon-title{
    font-size: 29px;
  }
  .hero-icon-area:before {
   
    left: -64px;
  }
  .cta-section.section-padding{
    padding: 79px 0;
  }
}
@media (max-width:992px){
  .section-padding {
    padding: 56px 0;
  }
  .hero-title{
    font-size: 52px;
  }  
  .hero-icon-title{
    font-size: 24px;
  }
  .hero-icon-area:before {
    left: -107px;
}
.cta-section.section-padding{
  padding:63px 0;
}
.cta-section{
  margin-bottom: -2px;
}
}
@media (max-width:768px){
  .section-padding {
    padding: 52px 0;
  }
  .hero-title{
    font-size: 46px;
  }  
  .hero-icon-title{
    font-size: 18px;
  }
  .hero-icon-area:before {
    left: -139px;
  }
  .btns{
    position: static !important;;
  }
  .cta-section.section-padding{
    padding:49px 0;
  }
  .cta-section{
    clip-path: polygon( 94.4% 8.621%,94.4% 8.621%,94.33% 7.222%,94.128% 5.896%,93.805% 4.659%,93.371% 3.529%,92.838% 2.525%,92.216% 1.663%,91.518% 0.962%,90.752% 0.439%,89.932% 0.113%,89.067% 0%,10.933% 0%,10.933% 0%,10.068% 0.113%,9.248% 0.439%,8.482% 0.962%,7.784% 1.663%,7.162% 2.525%,6.629% 3.529%,6.195% 4.659%,5.872% 5.896%,5.67% 7.222%,5.6% 8.621%,5.6% 81.034%,5.6% 81.034%,5.53% 82.433%,5.328% 83.759%,5.005% 84.996%,4.571% 86.126%,4.038% 87.13%,3.416% 87.992%,2.718% 88.693%,1.952% 89.216%,1.132% 89.542%,0.267% 89.655%,0% 89.655%,0% 100%,100% 100%,100% 89.655%,99.733% 89.655%,99.733% 89.655%,98.868% 89.542%,98.048% 89.216%,97.282% 88.693%,96.584% 87.992%,95.962% 87.13%,95.429% 86.126%,94.995% 84.996%,94.672% 83.759%,94.47% 82.433%,94.4% 81.034%,94.4% 8.621% ); 
    margin-bottom: -3px;

  }
}
@media (max-width:578px){
  .section-padding {
    padding: 48px 0;
  }
  .hero-title{
    font-size: 41px;
  }  
  .hero-icon-title{
    font-size: 16px;
  }
  .hero-icon-area:after{
    display: none;
  }
  .hero-icon-area:before {
    left: -161px;
  }
  .cta-section.section-padding{
    padding:16px 0;
  }
  .nav-tabs.project-tab-nav{
    width: 90%;
  }
  .cta-title{
    font-size: 25px;
    padding: 0 32px;
  }
  .footer-text{
    max-width: 100%;
  }
}
@media (max-width:456px){
  .cta-section.section-padding{
    padding:4px 0;
  }
      
      .cta-title{
        font-size: 20px;
        
      }
      
      .hero-icon-title{
        max-width: 180px;
      }
      

    }
@media (max-width:356px){
      
      .cta-title{
        font-size: 18px;
     
      }

    }
@media (max-width:340px){
  .nav-tabs.project-tab-nav{
    width: 100%;
  }
      .cta-title{
        font-size: 16px;
       
      }
      .nav-tabs.project-tab-nav .nav-link{
        font-size: 14px;
      }
    }
    