@media (max-width:1400px){
  .section-padding {
    padding: 64px 0;
  }
  .cta-section.section-padding{
    padding: 79px 0;
  }
  .hero-title{
    font-size: 66px;
  }  
  .hero-icon-area:before {
   
    left: -31px;
  }
}
@media (max-width:1200px){
  .section-padding {
    padding: 62px 0;
  }
  .hero-title{
    font-size: 60px;
  }  
  .hero-icon-title{
    font-size: 29px;
  }
  .hero-icon-area:before {
   
    left: -64px;
  }
  .cta-section.section-padding{
    padding: 79px 0;
  }
}
@media (max-width:992px){
  .section-padding {
    padding: 56px 0;
  }
  .hero-title{
    font-size: 52px;
  }  
  .hero-icon-title{
    font-size: 24px;
  }
  .hero-icon-area:before {
    left: -107px;
}
.cta-section.section-padding{
  padding:63px 0;
}
}
@media (max-width:768px){
  .section-padding {
    padding: 52px 0;
  }
  .hero-title{
    font-size: 46px;
  }  
  .hero-icon-title{
    font-size: 18px;
  }
  .hero-icon-area:before {
    left: -139px;
  }
  .btns{
    position: static !important;;
  }
  .cta-section.section-padding{
    padding:49px 0;
  }
}
@media (max-width:578px){
  .section-padding {
    padding: 48px 0;
  }
  .hero-title{
    font-size: 41px;
  }  
  .hero-icon-title{
    font-size: 16px;
  }
  .hero-icon-area:after{
    display: none;
  }
  .hero-icon-area:before {
    left: -161px;
  }
  .cta-title{
    font-size: 25px;
    padding: 0 32px;
  }
  .cta-section.section-padding{
    padding:43px 0;
  }
  .footer-text{
    max-width: 100%;
  }
}
@media (max-width:456px){
  .cta-section.section-padding{
    padding:37px 0;
  }
      
      .cta-title{
        font-size: 20px;
        
      }

    }
@media (max-width:356px){
      
      .cta-title{
        font-size: 18px;
     
      }

    }
@media (max-width:356px){
      
    
      
      .cta-title{
        font-size: 16px;
       
      }
    }
    