/* header */
header{
  background: url(../img/Hero-bg.png) no-repeat center center / cover;
}
/* Navbar */
.hover-line{
  display: inline-block;
  width: 28px;
height: 2px;
background: transparent;
transition: all .3s ease;
}
.nav-link{
  transition: all .3s ease;
  
}
.nav-link:hover + .hover-line{
transition: all .3s ease;

  background: var(--primary-color-500);
}

/* hero section */
.hero-title{
  font-family: Inter;
  font-size: 72px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: -1.44px;
}
.hero-icon-area{
  background-image: url("../img/hero-icon-background-1.png");
  background-repeat: no-repeat;
  background-size: 100% 334px;
  background-position: center top;
  /* background-attachment: fixed; */
  background-overflow:hidden;
  min-height: 334px;
  /* position: relative; */
}
.hero-icon-area:before{
  content: "";
  width: 288px;
    height:288px;
    background:url("../img/hero-Ornament-1-1.png") no-repeat center center / contain;
    top: -20px;
    left: 0;
    position: absolute;
    z-index: 1;
   
}
.hero-icon-area:after{
  content: "";
  width: 288px;
    height:288px;
    background:url("../img/hero-Ornament-1.png") no-repeat center center / contain;
    bottom: -64px;
    right: -67px;
    position: absolute;
    z-index: 1;
   
}
.hero-icon-content{
 
width: 290px;

}

/* Service-section */

.service-btn.accordion-button:not(.collapsed)::after {
  background-image: url(../img/arrow-active.png);
  transform: rotate(0deg);
}
.service-btn.accordion-button{
  background-color:transparent;
  font-size: 20px;
}
.service-btn.accordion-button::after {
 
  background-image: url(../img/arrow-inactive.png);
}

.accordion.service-accordion{
  --bs-accordion-border-width: 0;
}

.service-btn.accordion-button:not(.collapsed),
.service-btn.accordion-button:not(.collapsed)::marker{
  background: var(--primary-500, linear-gradient(280deg, #00796D 0%, #38C682 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.service-btn.accordion-button:focus{
  box-shadow: none;
}

/* achiv-section */
.achive-section{
  background: var(--primary-color-50);

}
.achive-section::before{
  content: '';
  width: 144px;
  height: 144px;
  background: url(../img/achiv-bg-rnament-1.png);
  position: absolute;
  top:16px;
  left: 16px;
  z-index: 1;
}
.achive-section::after{
  content: '';
  width: 1019px;
  height: 474px;
  background: url(../img/achiv-bg-rnament-2.png) no-repeat center center / cover;
  position: absolute;
  bottom:0;
  right: -133px;
  z-index: 1;
}
/* Project Section  */
.project-section{
  background: url(../img/project-bg.png) no-repeat center center / cover;
}
.project-section::before{
  content: '';
  width: 259px;
  height: 489px;
  background: url(../img/project-ornament-1.png) no-repeat center center / cover;
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
}
.project-section::after{
  content: '';
  width: 305px;
  height: 300px;
  background: url(../img/project-ornament-2.png) no-repeat center center / cover;
  position: absolute;
  bottom:0;
  right: 0;
  z-index: 1;
}
.project-section-title p{
  max-width:928px;
}
.project-tab-nav.nav-tabs.nav-tabs .nav-link.active {
  color: #fff !important;
  background: var(--primary-color-500);
  border: var(--primary-color-400);
}
.project-card-container .card{
 
  border: 1px solid #3D414C;
  background: #181D2A;
}

/* Testimonial */
.testimonial-slider{
  position: relative;
}
.testimonial-card{
  min-height: 256px;
  transition: all 0.4s ease;
}
.testimonial-card:hover{
  background: var(--primary-color-500) !important;
  color: #fff;
}
.btns-wrapper{
  min-height: 75px;;
}
.customNextBtn,
.customPreviousBtn{
  transition: all 0.5s ease;
}
.customNextBtn:hover,
.customPreviousBtn:hover{
  background: var(--primary-color-300) !important;
  color: #fff;
  cursor: pointer;

}
/* cta-section */
.cta-section{
  padding: 74px 0;
  background-color: #050d09;
  clip-path: polygon(calc(100% - 80px) 40px, calc(100% - 80px) 40px, calc(100% - 80.52357px) 33.5117898px, calc(100% - 82.03936px) 27.3569024px, calc(100% - 84.46499px) 21.6176926px, calc(100% - 87.71808px) 16.3765152px, calc(100% - 91.71625px) 11.715725px, calc(100% - 96.37712px) 7.7176768px, calc(100% - 101.61831px) 4.4647254px, calc(100% - 107.35744px) 2.0392256px, calc(100% - 113.51213px) 0.5235322px, calc(100% - 120px) 6.6222161283942E-31px, 120px 0px, 120px 0px, 113.5117898px 0.5235322px, 107.3569024px 2.0392256px, 101.6176926px 4.4647254px, 96.3765152px 7.7176768px, 91.715725px 11.715725px, 87.7176768px 16.3765152px, 84.4647254px 21.6176926px, 82.0392256px 27.3569024px, 80.5235322px 33.5117898px, 80px 40px, 80px 144px, 80px 144px, 79.4764678px 150.488113px, 77.9607744px 156.642944px, 75.5352746px 162.382131px, 72.2823232px 167.623312px, 68.284275px 172.284125px, 63.6234848px 176.282208px, 58.3823074px 179.535199px, 52.6430976px 181.960736px, 46.4882102px 183.476457px, 40px 184px, 0px 184px, 0px 689px, 1440px 689px, calc(100% - 0px) 184px, calc(100% - 40px) 184px, calc(100% - 40px) 184px, calc(100% - 46.48787px) 183.476457px, calc(100% - 52.64256px) 181.960736px, calc(100% - 58.38169px) 179.535199px, calc(100% - 63.62288px) 176.282208px, calc(100% - 68.28375px) 172.284125px, calc(100% - 72.28192px) 167.623312px, calc(100% - 75.53501px) 162.382131px, calc(100% - 77.96064px) 156.642944px, calc(100% - 79.47643px) 150.488113px, calc(100% - 80px) 144px, calc(100% - 80px) 40px); 

}
.cta-title{
  /* font-weight: 600; */
  line-height: 1.18;
  
  letter-spacing: -0.88px;
  
}
.cta-btn-containeer{
  min-width: 167px;
}
footer{
  
  background-color: #050d09;
  /* clip-path: polygon( 94.444% 5.806%,94.444% 5.806%,94.408% 4.864%,94.303% 3.971%,94.134% 3.138%,93.908% 2.377%,93.631% 1.7%,93.307% 1.12%,92.943% 0.648%,92.545% 0.296%,92.117% 0.076%,91.667% 0%,8.333% 0%,8.333% 0%,7.883% 0.076%,7.455% 0.296%,7.057% 0.648%,6.693% 1.12%,6.369% 1.7%,6.092% 2.377%,5.866% 3.138%,5.697% 3.971%,5.592% 4.864%,5.556% 5.806%,5.556% 20.9%,5.556% 20.9%,5.519% 21.842%,5.414% 22.735%,5.246% 23.568%,5.02% 24.328%,4.742% 25.005%,4.418% 25.585%,4.054% 26.057%,3.656% 26.409%,3.228% 26.629%,2.778% 26.705%,0% 26.705%,0% 100%,100% 100%,100% 26.705%,97.222% 26.705%,97.222% 26.705%,96.772% 26.629%,96.344% 26.409%,95.946% 26.057%,95.582% 25.585%,95.258% 25.005%,94.98% 24.328%,94.755% 23.568%,94.586% 22.735%,94.481% 21.842%,94.444% 20.9%,94.444% 5.806% ); */
  
  /* clip-path: polygon(calc(100% - 80px) 40px, calc(100% - 80px) 40px, calc(100% - 80.52357px) 33.5117898px, calc(100% - 82.03936px) 27.3569024px, calc(100% - 84.46499px) 21.6176926px, calc(100% - 87.71808px) 16.3765152px, calc(100% - 91.71625px) 11.715725px, calc(100% - 96.37712px) 7.7176768px, calc(100% - 101.61831px) 4.4647254px, calc(100% - 107.35744px) 2.0392256px, calc(100% - 113.51213px) 0.5235322px, calc(100% - 120px) 6.6222161283942E-31px, 120px 0px, 120px 0px, 113.5117898px 0.5235322px, 107.3569024px 2.0392256px, 101.6176926px 4.4647254px, 96.3765152px 7.7176768px, 91.715725px 11.715725px, 87.7176768px 16.3765152px, 84.4647254px 21.6176926px, 82.0392256px 27.3569024px, 80.5235322px 33.5117898px, 80px 40px, 80px 144px, 80px 144px, 79.4764678px 150.488113px, 77.9607744px 156.642944px, 75.5352746px 162.382131px, 72.2823232px 167.623312px, 68.284275px 172.284125px, 63.6234848px 176.282208px, 58.3823074px 179.535199px, 52.6430976px 181.960736px, 46.4882102px 183.476457px, 40px 184px, 0px 184px, 0px 689px, 1440px 689px, 1440px 184px, calc(100% - 40px) 184px, calc(100% - 40px) 184px, calc(100% - 46.48787px) 183.476457px, calc(100% - 52.64256px) 181.960736px, calc(100% - 58.38169px) 179.535199px, calc(100% - 63.62288px) 176.282208px, calc(100% - 68.28375px) 172.284125px, calc(100% - 72.28192px) 167.623312px, calc(100% - 75.53501px) 162.382131px, calc(100% - 77.96064px) 156.642944px, calc(100% - 79.47643px) 150.488113px, calc(100% - 80px) 144px, calc(100% - 80px) 40px); 
  */
  color:#fff;
}
footer:before{
  content: "";
  width: 356px;
  height: 356px;
  background: url("../img/footer-bg-circle-top.png") no-repeat center center/contain;
  position: absolute;
  top:16px;
  left:-200px;
  z-index: 2;

}
footer:after{
  content: "";
  width: 487px;
  height: 487px;
  background: url("../img/footer-bg-circle-bottom-right.png") no-repeat center center/contain;
  position: absolute;
  bottom: -207px;
  right: -191px;
  z-index: 1;
 

}
.footer-text{
  max-width: 413px;
}
