/* header */
header{
  background: url(../img/Hero-bg.png) no-repeat center center / cover;
}
/* Navbar */
.hover-line{
  display: inline-block;
  width: 28px;
height: 2px;
background: transparent;
transition: all .3s ease;
}
.nav-link{
  transition: all .3s ease;
  
}
.nav-link:hover + .hover-line{
transition: all .3s ease;

  background: var(--primary-color-500);
}

/* hero section */
.hero-title{
  font-family: Inter;
  font-size: 72px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: -1.44px;
}
.hero-icon-area{
  /* background-image: url("../img/hero-icon-background-1.png");
  background-repeat: no-repeat;
  background-size: 100% 334px;
  background-position: center top; */
  /* background-attachment: fixed; */
  background: var(--primary-color-500);
  clip-path: polygon( 82.422% 5.49%,82.422% 5.49%,82.403% 4.599%,82.349% 3.754%,82.262% 2.967%,82.145% 2.248%,82.002% 1.608%,81.835% 1.059%,81.648% 0.613%,81.442% 0.28%,81.221% 0.072%,80.989% 0%,19.011% 0%,19.011% 0%,18.778% 0.072%,18.558% 0.28%,18.352% 0.613%,18.165% 1.059%,17.998% 1.608%,17.855% 2.248%,17.738% 2.967%,17.651% 3.754%,17.597% 4.599%,17.578% 5.49%,17.578% 5.49%,17.578% 5.49%,17.559% 6.38%,17.505% 7.225%,17.418% 8.012%,17.302% 8.732%,17.159% 9.371%,16.992% 9.92%,16.804% 10.366%,16.598% 10.699%,16.378% 10.907%,16.146% 10.979%,1.563% 10.979%,1.563% 10.979%,1.309% 11.058%,1.069% 11.284%,0.844% 11.648%,0.64% 12.135%,0.458% 12.733%,0.301% 13.431%,0.174% 14.215%,0.08% 15.075%,0.02% 15.996%,0% 16.967%,0% 94.012%,0% 94.012%,0.02% 94.983%,0.08% 95.905%,0.174% 96.764%,0.301% 97.548%,0.458% 98.246%,0.64% 98.845%,0.844% 99.332%,1.069% 99.695%,1.309% 99.922%,1.563% 100%,98.438% 100%,98.438% 100%,98.691% 99.922%,98.932% 99.695%,99.156% 99.332%,99.36% 98.845%,99.542% 98.246%,99.699% 97.548%,99.826% 96.764%,99.92% 95.905%,99.98% 94.983%,100% 94.012%,100% 16.967%,100% 16.967%,99.98% 15.996%,99.92% 15.075%,99.826% 14.215%,99.699% 13.431%,99.542% 12.733%,99.36% 12.135%,99.156% 11.648%,98.932% 11.284%,98.691% 11.058%,98.438% 10.979%,83.855% 10.979%,83.855% 10.979%,83.622% 10.907%,83.402% 10.699%,83.196% 10.366%,83.008% 9.92%,82.842% 9.371%,82.698% 8.732%,82.582% 8.012%,82.495% 7.225%,82.441% 6.38%,82.422% 5.49%,82.422% 5.49% );
   

 
  min-height: 334px;
  /* position: relative; */
}
.hero-icon-area:before{
  content: "";
  width: 288px;
    height:288px;
    background:url("../img/hero-Ornament-1-1.png") no-repeat center center / contain;
    top: -20px;
    left: 0;
    position: absolute;
    z-index: 1;
   
}
.hero-icon-area:after{
  content: "";
  width: 288px;
    height:288px;
    background:url("../img/hero-Ornament-1.png") no-repeat center center / contain;
    bottom: -64px;
    right: -67px;
    position: absolute;
    z-index: 1;
   
}
.hero-icon-content{
 
width: 290px;

}

/* Service-section */

.service-btn.accordion-button:not(.collapsed)::after {
  background-image: url(../img/arrow-active.png);
  transform: rotate(0deg);
}
.service-btn.accordion-button{
  background-color:transparent;
  font-size: 21px;
}
.service-btn.accordion-button::after {
 
  background-image: url(../img/arrow-inactive.png);
}

.accordion.service-accordion{
  --bs-accordion-border-width: 0;
}

.service-btn.accordion-button:not(.collapsed),
.service-btn.accordion-button:not(.collapsed)::marker{
  background: var(--primary-500, linear-gradient(280deg, #00796D 0%, #38C682 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.service-btn.accordion-button:focus{
  box-shadow: none;
}

/* achiv-section */
.achive-section{
  background: var(--primary-color-50);

}
.achive-section::before{
  content: '';
  width: 144px;
  height: 144px;
  background: url(../img/achiv-bg-rnament-1.png);
  position: absolute;
  top:16px;
  left: 16px;
  z-index: 1;
}
.achive-section::after{
  content: '';
  width: 1019px;
  height: 474px;
  background: url(../img/achiv-bg-rnament-2.png) no-repeat center center / cover;
  position: absolute;
  bottom:0;
  right: -133px;
  z-index: 1;
}
/* Project Section  */
.project-section{
  background: url(../img/project-bg.png) no-repeat center center / cover;
}
.project-section::before{
  content: '';
  width: 259px;
  height: 489px;
  background: url(../img/project-ornament-1.png) no-repeat center center / cover;
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
}
.project-section::after{
  content: '';
  width: 305px;
  height: 300px;
  background: url(../img/project-ornament-2.png) no-repeat center center / cover;
  position: absolute;
  bottom:0;
  right: 0;
  z-index: 1;
}
.project-section-title p{
  max-width:928px;
}
.project-tab-nav.nav-tabs.nav-tabs .nav-link.active {
  color: #fff !important;
  background: var(--primary-color-500);
  border: var(--primary-color-400);
}
.project-card-container .card{
 
  border: 1px solid #3D414C;
  background: #181D2A;
}
.overrlay{
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}
.project-img-container{
  cursor: pointer;
}
.project-img-container:hover .overrlay{
  opacity: 1 !important;
}

/* Testimonial */
.testimonial-slider{
  position: relative;
}
.testimonial-card{
  min-height: 256px;
  transition: all 0.4s ease;
}
.testimonial-card:hover{
  background: var(--primary-color-500) !important;
  color: #fff;
}
.btns-wrapper{
  min-height: 75px;;
}
.customNextBtn,
.customPreviousBtn{
  transition: all 0.5s ease;
}
.customNextBtn:hover,
.customPreviousBtn:hover{
  background: var(--primary-color-300) !important;
  color: #fff;
  cursor: pointer;

}
/* cta-section */
.cta-section{
  padding: 74px 0;
  background-color: #0C111F;
  clip-path: polygon(calc(100% - 80.5px) 40px, calc(100% - 80.5px) 40px, calc(100% - 81.02357px) 33.5117898px, calc(100% - 82.53936px) 27.3569024px, calc(100% - 84.96499px) 21.6176926px, calc(100% - 88.21808px) 16.3765152px, calc(100% - 92.21625px) 11.715725px, calc(100% - 96.87712px) 7.7176768px, calc(100% - 102.11831px) 4.4647254px, calc(100% - 107.85744px) 2.0392256px, calc(100% - 114.01213px) 0.5235322px, calc(100% - 120.5px) 6.6222161283942E-31px, 120.5px 0px, 120.5px 0px, 114.0117898px 0.5235322px, 107.8569024px 2.0392256px, 102.1176926px 4.4647254px, 96.8765152px 7.7176768px, 92.215725px 11.715725px, 88.2176768px 16.3765152px, 84.9647254px 21.6176926px, 82.5392256px 27.3569024px, 81.0235322px 33.5117898px, 80.5px 40px, 80.5px 144px, 80.5px 144px, 79.9764678px 150.488113px, 78.4607744px 156.642944px, 76.0352746px 162.382131px, 72.7823232px 167.623312px, 68.784275px 172.284125px, 64.1234848px 176.282208px, 58.8823074px 179.535199px, 53.1430976px 181.960736px, 46.9882102px 183.476457px, 40.5px 184px, 0.5px 184px, 0.5px 205px, 698px 205px, calc(100% - 0.5px) 205px, calc(100% - 0.5px) 184px, calc(100% - 40.5px) 184px, calc(100% - 40.5px) 184px, calc(100% - 46.98787px) 183.476457px, calc(100% - 53.14256px) 181.960736px, calc(100% - 58.88169px) 179.535199px, calc(100% - 64.12288px) 176.282208px, calc(100% - 68.78375px) 172.284125px, calc(100% - 72.78192px) 167.623312px, calc(100% - 76.03501px) 162.382131px, calc(100% - 78.46064px) 156.642944px, calc(100% - 79.97643px) 150.488113px, calc(100% - 80.5px) 144px, calc(100% - 80.5px) 40px); 
  margin-bottom: -2px;
}
.cta-section.section-padding{
  padding: 73px 0;
}
.cta-title{
  /* font-weight: 600; */
  line-height: 1.18;
  
  letter-spacing: -0.88px;
  
}
.cta-btn-containeer{
  min-width: 167px;
}

footer:before{
  content: "";
  width: 356px;
  height: 356px;
  background: url("../img/footer-bg-circle-top.png") no-repeat center center/contain;
  position: absolute;
  top:16px;
  left:-200px;
  z-index: 2;
  

}
footer:after{
  content: "";
  width: 487px;
  height: 487px;
  background: url("../img/footer-bg-circle-bottom-right.png") no-repeat center center/contain;
  position: absolute;
  bottom: -207px;
  right: -191px;
  z-index: 1;
 

}
.footer-text{
  max-width: 413px;
}
