// Button

.btn{
  padding: 13px 51px;
  border-radius: 8px;
}

.btn.btn-primary-color{
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  flex-shrink: 0;
  background: $primary-gradiant-color;
  border:none;
}
.btn.btn-ouline-color{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background: $primary-gradiant-color;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.btn-outline-border {
  .btn.btn-ouline-color:after{
    // box-sizing: content-box;
    // border-radius: 8px;
    // border-width: 1px ;
    // border-style: solid;
    // border-image:  $primary-gradiant-color;
    // border-image-slice: 1;
    content: "";
    position:absolute;
    inset: 0;
    border-radius: 8px; /*1*/
    border: 1px solid transparent; /*2*/
    background: inherit; 
    background-origin: border-box;
    background-clip: border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; /*5'*/
            mask-composite: exclude; /*5*/
  }
}


// text color
.text-primary-color{
  color: $primary-color !important;
}
.text-white-shade{
  color: #f3f3f3 !important;
}
.text-gradient-color{
  background: linear-gradient(85deg, #5997FF 1.78%, #95ECFF 97.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// padding

.section-padding{
  padding:80px 0;
}

// clip path
.box{
  clip-path: polygon(0% 2.414%, 0% 2.414%, 1.351% 2.193%, 5.083% 1.656%, 10.72% 0.992%, 17.783% 0.387%, 25.794% 0.031%, 34.275% 0.111%, 42.747% 0.816%, 50.733% 2.333%, 57.755% 4.851%, 63.333% 8.558%, 63.333% 8.558%, 67.46% 11.266%, 72.046% 12.47%, 76.879% 12.457%, 81.751% 11.515%, 86.451% 9.93%, 90.768% 7.989%, 94.491% 5.981%, 97.411% 4.19%, 99.318% 2.906%, 100% 2.414%, 100% 93.452%, 100% 93.452%, 99.051% 93.849%, 96.403% 94.866%, 92.357% 96.236%, 87.21% 97.695%, 81.263% 98.977%, 74.815% 99.817%, 68.165% 99.949%, 61.613% 99.109%, 55.458% 97.032%, 50% 93.452%, 50% 93.452%, 44.542% 89.871%, 38.387% 87.794%, 31.835% 86.954%, 25.185% 87.086%, 18.737% 87.926%, 12.79% 89.208%, 7.643% 90.667%, 3.597% 92.037%, 0.949% 93.054%, 0% 93.452%, 0% 2.414%);
   background-color: #172133;
   @media(max-width:578px){
    clip-path: none;
   }
  }