// Button

.btn{
  padding: 13px 51px;
  border-radius: 8px;
}

.btn.btn-primary-color{
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  flex-shrink: 0;
  background: $primary-gradiant-color;
  border:none;
}
.btn.btn-ouline-color{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background: $primary-gradiant-color;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 8px;
  border: 1px solid $primary-gradiant-color;
}
// text color
.text-primary-color{
  color: $primary-color !important;
}
.text-white-shade{
  color: #f3f3f3 !important;
}

// padding

.section-padding{
  padding:80px 0;
}