

@import "config";
@import "utility";
@import "function";


* {
  padding: 0;
  margin: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  text-transform:capitalize;
}
img {
  width: 100%;
}

html{
  body{
    font-family: 'Manrope', sans-serif;
    background: $main-bg;
    header{
      .navbar-main{
        
        .navbar{
          
          .container{
            
            .navbar-collapse{
             
              .navbar-nav{
           
                .nav-item{
                  margin-right: 24px;
                  .nav-link{
              
                    color: #E1E0E0;
                    border-bottom: 1px solid transparent;
                    &:hover{
                      border-bottom: 1px solid $primary-color;
                    }
                  }
                }
              }
            }
          }

        }
      }
      .section{
        &-hero{
          padding-top: 146px;
          .subheading{
            color: #D1D0D0;
            font-size: 14px;
          }
          h1{
            color: #E1E0E0;
            font-size: 4rem;
            font-weight: 800;
            line-height: 1.13; 
          }
          p{
            color: #F3F3F3;
          }
        }
      }
    }
    .section{

      &-logo{
        @media(max-width:578px) {
          img{
            display: inline-block;
            width: 40%;
            margin: 0 30%;
          }
        }
      }
    
      &-feature{
        article{
          .feature-list{
            margin-left: 46px;
            ul{
              li{
                list-style: url(./img/tickcircle.png);
              };
            }
          }
        }
      }
      &-service{
        article{
          .feature-list{
            margin-left: 46px;
            ul{
              li{
                list-style: url(./img/tickcircle.png);
              };
            }
          }
        }
      }
    }
  }
}