.btn {
  padding: 13px 51px;
  border-radius: 8px;
}

.btn.btn-primary-color {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  flex-shrink: 0;
  background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
  border: none;
}

.btn.btn-ouline-color {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.btn-outline-border .btn.btn-ouline-color:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px; /*1*/
  border: 1px solid transparent; /*2*/
  background: inherit;
  background-origin: border-box;
  background-clip: border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}

.text-primary-color {
  color: #79E8FF !important;
}

.text-white-shade {
  color: #f3f3f3 !important;
}

.text-gradient-color {
  background: linear-gradient(85deg, #5997FF 1.78%, #95ECFF 97.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-padding {
  padding: 80px 0;
}

.box {
  -webkit-clip-path: polygon(0% 2.414%, 0% 2.414%, 1.351% 2.193%, 5.083% 1.656%, 10.72% 0.992%, 17.783% 0.387%, 25.794% 0.031%, 34.275% 0.111%, 42.747% 0.816%, 50.733% 2.333%, 57.755% 4.851%, 63.333% 8.558%, 63.333% 8.558%, 67.46% 11.266%, 72.046% 12.47%, 76.879% 12.457%, 81.751% 11.515%, 86.451% 9.93%, 90.768% 7.989%, 94.491% 5.981%, 97.411% 4.19%, 99.318% 2.906%, 100% 2.414%, 100% 93.452%, 100% 93.452%, 99.051% 93.849%, 96.403% 94.866%, 92.357% 96.236%, 87.21% 97.695%, 81.263% 98.977%, 74.815% 99.817%, 68.165% 99.949%, 61.613% 99.109%, 55.458% 97.032%, 50% 93.452%, 50% 93.452%, 44.542% 89.871%, 38.387% 87.794%, 31.835% 86.954%, 25.185% 87.086%, 18.737% 87.926%, 12.79% 89.208%, 7.643% 90.667%, 3.597% 92.037%, 0.949% 93.054%, 0% 93.452%, 0% 2.414%);
          clip-path: polygon(0% 2.414%, 0% 2.414%, 1.351% 2.193%, 5.083% 1.656%, 10.72% 0.992%, 17.783% 0.387%, 25.794% 0.031%, 34.275% 0.111%, 42.747% 0.816%, 50.733% 2.333%, 57.755% 4.851%, 63.333% 8.558%, 63.333% 8.558%, 67.46% 11.266%, 72.046% 12.47%, 76.879% 12.457%, 81.751% 11.515%, 86.451% 9.93%, 90.768% 7.989%, 94.491% 5.981%, 97.411% 4.19%, 99.318% 2.906%, 100% 2.414%, 100% 93.452%, 100% 93.452%, 99.051% 93.849%, 96.403% 94.866%, 92.357% 96.236%, 87.21% 97.695%, 81.263% 98.977%, 74.815% 99.817%, 68.165% 99.949%, 61.613% 99.109%, 55.458% 97.032%, 50% 93.452%, 50% 93.452%, 44.542% 89.871%, 38.387% 87.794%, 31.835% 86.954%, 25.185% 87.086%, 18.737% 87.926%, 12.79% 89.208%, 7.643% 90.667%, 3.597% 92.037%, 0.949% 93.054%, 0% 93.452%, 0% 2.414%);
  background-color: #172133;
}
@media (max-width: 578px) {
  .box {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

* {
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

img {
  width: 100%;
}

html body {
  font-family: "Manrope", sans-serif;
  background: #0B1425;
}
html body header .navbar-main .navbar .container .navbar-collapse .navbar-nav .nav-item {
  margin-right: 24px;
}
html body header .navbar-main .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #E1E0E0;
  border-bottom: 1px solid transparent;
}
html body header .navbar-main .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 1px solid #79E8FF;
}
html body header .section-hero {
  padding-top: 146px;
}
html body header .section-hero .subheading {
  color: #D1D0D0;
  font-size: 14px;
}
html body header .section-hero h1 {
  color: #E1E0E0;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.13;
}
@media (max-width: 778px) {
  html body header .section-hero h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 578px) {
  html body header .section-hero h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 310px) {
  html body header .section-hero h1 {
    font-size: 1.7rem;
  }
}
html body header .section-hero p {
  color: #F3F3F3;
}
@media (max-width: 578px) {
  html body .section-logo img {
    display: inline-block;
    width: 40%;
    margin: 0 30%;
  }
}
html body .section-feature article .feature-list {
  margin-left: 46px;
}
html body .section-feature article .feature-list ul li {
  list-style: url(./img/tickcircle.png);
}
html body .section-service .section-padding {
  padding: 80px 0 160px;
}
@media (max-width: 578px) {
  html body .section-service .section-padding {
    padding: 48px 0;
  }
}
html body .section-service .box .heading {
  margin-top: 14px;
}
html body .section-service .box .row {
  position: relative;
}
html body .section-service .box .row:after {
  content: "";
  background-image: url(./img/service-line-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: absolute;
  top: -5%;
  left: 1%;
  width: 95%;
  height: 100%;
}
@media (max-width: 1200px) {
  html body .section-service .box .row:after {
    top: -6%;
    left: 2%;
  }
}
@media (max-width: 992px) {
  html body .section-service .box .row:after {
    top: -14%;
    left: 2%;
  }
}
@media (max-width: 778px) {
  html body .section-service .box .row:after {
    display: none;
  }
}
@media (max-width: 778px) {
  html body .section-service .box .row .col-md {
    padding-left: 2px;
    padding-right: 2px;
  }
}
@media (max-width: 578px) {
  html body .section-service .box .row .col-md {
    margin-bottom: 24px;
  }
}
html body .section-service .box .row .col-md .service {
  height: 464px;
}
@media (max-width: 992px) {
  html body .section-service .box .row .col-md .service {
    height: 327px;
  }
}
@media (max-width: 778px) {
  html body .section-service .box .row .col-md .service {
    height: 296px;
  }
}
@media (max-width: 578px) {
  html body .section-service .box .row .col-md .service {
    height: auto;
    margin-bottom: 12px;
  }
}
html body .section-service .box .row .col-md .service .logo {
  position: relative;
  width: 100%;
  z-index: 2;
}
html body .section-service .box .row .col-md .service .logo .circle {
  width: 100%;
  aspect-ratio: 1/1;
  background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
  margin-bottom: 20px;
}
html body .section-service .box .row .col-md .service .logo .circle svg {
  width: 50%;
}
@media (max-width: 578px) {
  html body .section-service .box .row .col-md .service .logo .circle {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
html body .section-service .box .row .col-md .service .logo h3 {
  margin-bottom: 8px;
}
@media (max-width: 992px) {
  html body .section-service .box .row .col-md .service .logo h3 {
    font-size: 20px;
  }
}
@media (max-width: 778px) {
  html body .section-service .box .row .col-md .service .logo h3 {
    font-size: 16px;
  }
}
html body .section-service .box .row .col-md .service .logo a {
  font-family: inter;
  text-decoration-line: underline;
  background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html body .section-service .box .row .col-md .service .logo a:after {
  content: "";
  width: 100px;
  height: 2px;
  background-clip: unset;
  --webkit-background-clip: unset;
  background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
  z-index: 3;
}
@media (max-width: 778px) {
  html body .section-service .box .row .col-md .service .logo a {
    font-size: 14px;
  }
}
@media (max-width: 578px) {
  html body .section-service .box .row .col-md .service:last-child {
    margin-top: 0;
  }
}
@media (max-width: 778px) {
  html body .section-case .section-padding {
    padding: 80px 0 160px;
  }
}
@media (max-width: 578px) {
  html body .section-case .section-padding {
    padding: 48px 0;
  }
}
@media (max-width: 778px) {
  html body .section-case .box {
    -webkit-clip-path: polygon(0px 20.4205px, 0px 20.4205px, 19.4475px 18.5533808px, 73.2px 14.0128824px, 154.3725px 8.3902936px, 256.08px 3.2769032px, 371.4375px 0.264px, 493.56px 0.9428728px, 615.5625px 6.9048104px, 730.56px 19.7411016px, 831.6675px 41.0430352px, 912px 72.4019px, 912px 72.4019px, 971.42553px 95.3074381px, 1037.45664px 105.4922568px, 1107.06411px 105.3846527px, 1177.21872px 97.4129224px, 1244.89125px 84.0053625px, 1307.05248px 67.5902696px, 1360.67319px 50.5959403px, 1402.72416px 35.4506712px, 1430.17617px 24.5827589px, 1440px 20.4205px, calc(100% - 0px) 790.6px, calc(100% - 0px) 790.6px, calc(100% - 13.6665px) 793.96555px, calc(100% - 51.792px) 802.5664px, calc(100% - 110.0655px) 814.15885px, calc(100% - 184.176px) 826.4992px, calc(100% - 269.8125px) 837.34375px, calc(100% - 362.664px) 844.4488px, calc(100% - 458.4195px) 845.57065px, calc(100% - 552.768px) 838.4656px, calc(100% - 641.3985px) 820.88995px, calc(100% - 720px) 790.6px, 720px 790.6px, 641.3985px 760.31005px, 552.768px 742.7344px, 458.4195px 735.62935px, 362.664px 736.7512px, 269.8125px 743.85625px, 184.176px 754.7008px, 110.0655px 767.04115px, 51.792px 778.6336px, 13.6665px 787.23445px, 0px 790.6px, 0px 20.4205px);
            clip-path: polygon(0px 20.4205px, 0px 20.4205px, 19.4475px 18.5533808px, 73.2px 14.0128824px, 154.3725px 8.3902936px, 256.08px 3.2769032px, 371.4375px 0.264px, 493.56px 0.9428728px, 615.5625px 6.9048104px, 730.56px 19.7411016px, 831.6675px 41.0430352px, 912px 72.4019px, 912px 72.4019px, 971.42553px 95.3074381px, 1037.45664px 105.4922568px, 1107.06411px 105.3846527px, 1177.21872px 97.4129224px, 1244.89125px 84.0053625px, 1307.05248px 67.5902696px, 1360.67319px 50.5959403px, 1402.72416px 35.4506712px, 1430.17617px 24.5827589px, 1440px 20.4205px, calc(100% - 0px) 790.6px, calc(100% - 0px) 790.6px, calc(100% - 13.6665px) 793.96555px, calc(100% - 51.792px) 802.5664px, calc(100% - 110.0655px) 814.15885px, calc(100% - 184.176px) 826.4992px, calc(100% - 269.8125px) 837.34375px, calc(100% - 362.664px) 844.4488px, calc(100% - 458.4195px) 845.57065px, calc(100% - 552.768px) 838.4656px, calc(100% - 641.3985px) 820.88995px, calc(100% - 720px) 790.6px, 720px 790.6px, 641.3985px 760.31005px, 552.768px 742.7344px, 458.4195px 735.62935px, 362.664px 736.7512px, 269.8125px 743.85625px, 184.176px 754.7008px, 110.0655px 767.04115px, 51.792px 778.6336px, 13.6665px 787.23445px, 0px 790.6px, 0px 20.4205px);
  }
}
html body .section-case .img-container {
  height: 399px;
  flex-shrink: 0;
  border-radius: 16px;
}
html body .section-case .img-container.case-study-1 {
  background: linear-gradient(0deg, rgba(13, 13, 13, 0.83) 29.32%, rgba(255, 255, 255, 0) 65.54%), url(./img/case-study-1.png) no-repeat center center/cover;
}
html body .section-case .img-container.case-study-2 {
  background: linear-gradient(0deg, rgba(13, 13, 13, 0.83) 29.32%, rgba(255, 255, 255, 0) 65.54%), url(./img/case-study-2.png) no-repeat center center/cover;
}
html body .section-case .img-container a {
  font-size: 20px;
  font-weight: 700;
}
html body .section-blog .card {
  background: transparent;
}
html body .section-blog .card img {
  border-radius: 12px;
}
html body .section-blog .card .card-body .d-flex {
  height: 192px;
}
html body .section-blog .card .card-body .card-text {
  color: #C8C8C8;
}
html body .section-blog .card .card-body a {
  font-family: inter;
  text-decoration-line: underline;
  background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
html body .section-blog .card .card-body a:after {
  content: "";
  width: 100%;
  height: 2px;
  background-clip: unset;
  --webkit-background-clip: unset;
  background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 2;
}
html body .section-blog .card:hover img {
  border-radius: 12px 12px 0px 0px;
}
html body .section-blog .card:hover .card-body {
  border-radius: 0px 0px 12px 12px;
  background: #172133;
  box-shadow: 0px 12px 60px 0px rgba(0, 0, 0, 0.1);
}
html body .section-testimonial.section-padding {
  padding: 100px 0 105px;
}
html body .section-testimonial .heading {
  margin-bottom: 54px;
}
html body .section-testimonial .testimonial-content {
  padding: 75px 35px 35px 35px;
  border-radius: 6px;
  background: #172133;
}
html body .section-testimonial .testimonial-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  left: 35px;
  top: -40px;
}
html body .section-testimonial .testimonial-img.img-1 {
  background: url(./img/testimonial_person_1.png), lightgray -37.971px 0px/149.927% 100% no-repeat;
}
html body .section-testimonial .testimonial-img.img-2 {
  background: url(./img/testimonial_person_2.png), lightgray -37.971px 0px/149.927% 100% no-repeat;
}
html body .section-testimonial .testimonial-text {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 35px;
  color: #E0E0E0;
  line-height: 1.75;
  letter-spacing: -0.24px;
}
html body .section-testimonial .testimonial-name {
  color: #CCD0D6;
  margin-bottom: 4px;
}
html body .section-testimonial .testimonial-title {
  color: #9497A1;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.21px;
}
html body .section-cta {
  -webkit-clip-path: polygon(0% 2.582%, 0% 2.582%, 1.351% 2.346%, 5.083% 1.772%, 10.72% 1.061%, 17.783% 0.414%, 25.794% 0.033%, 34.275% 0.119%, 42.747% 0.873%, 50.733% 2.496%, 57.755% 5.19%, 63.333% 9.156%, 63.333% 9.156%, 67.46% 12.052%, 72.046% 13.34%, 76.879% 13.327%, 81.751% 12.318%, 86.451% 10.623%, 90.768% 8.547%, 94.491% 6.398%, 97.411% 4.483%, 99.318% 3.109%, 100% 2.582%, 100% 99.976%, 50% 99.976%, 0% 99.976%, 0% 2.582%);
          clip-path: polygon(0% 2.582%, 0% 2.582%, 1.351% 2.346%, 5.083% 1.772%, 10.72% 1.061%, 17.783% 0.414%, 25.794% 0.033%, 34.275% 0.119%, 42.747% 0.873%, 50.733% 2.496%, 57.755% 5.19%, 63.333% 9.156%, 63.333% 9.156%, 67.46% 12.052%, 72.046% 13.34%, 76.879% 13.327%, 81.751% 12.318%, 86.451% 10.623%, 90.768% 8.547%, 94.491% 6.398%, 97.411% 4.483%, 99.318% 3.109%, 100% 2.582%, 100% 99.976%, 50% 99.976%, 0% 99.976%, 0% 2.582%);
  background: #172133;
}
html body .section-cta.section-padding {
  padding-top: 180px;
}
html body .section-cta .info .heading {
  margin-bottom: 24px;
}
html body .section-cta .info p {
  color: #CCD0D6;
  margin-bottom: 80px;
}
html body .section-cta .info ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-left: 0;
}
html body .section-cta .info ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
html body .section-cta .info ul li address {
  color: #CCD0D6;
}
html body .section-cta .info ul li a {
  display: block;
  color: #CCD0D6;
}
html body .section-cta .cta-input {
  width: 445px;
  border-radius: 12px;
  background: #0B1425;
  box-shadow: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);
  padding: 50px;
}
html body .section-cta .cta-input .heading {
  margin-bottom: 30px;
}
html body .section-cta .cta-input .form-group {
  margin-bottom: 20px;
}
html body .section-cta .cta-input .form-group label {
  color: #9497A1;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.18px;
}
html body .section-cta .cta-input .form-group input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #9497A1;
  border-radius: 0;
  padding-left: 0;
}
html body .section-cta .cta-input .form-group input::-moz-placeholder {
  color: #CCD0D6;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.21px;
}
html body .section-cta .cta-input .form-group input::placeholder {
  color: #CCD0D6;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.21px;
}
html body .section-cta .cta-input .btn-container {
  margin-top: 63px;
}
@media (max-width: 578px) {
  html body .section-cta .cta-input {
    width: auto;
    margin: 8px;
    padding: 24px;
  }
}
html body .footer-cta {
  padding: 80px 0;
  background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
}
html body .footer-cta-btn {
  border-radius: 6px;
  background: #FFF;
  padding: 11px 46px;
  font-weight: 700;
  background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=style.css.map */