.btn {
  padding: 13px 51px;
  border-radius: 8px;
}

.btn.btn-primary-color {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  flex-shrink: 0;
  background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
  border: none;
}

.btn.btn-ouline-color {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.btn-outline-border .btn.btn-ouline-color:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px; /*1*/
  border: 1px solid transparent; /*2*/
  background: inherit;
  background-origin: border-box;
  background-clip: border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}

.text-primary-color {
  color: #79E8FF !important;
}

.text-white-shade {
  color: #f3f3f3 !important;
}

.text-gradient-color {
  background: linear-gradient(85deg, #5997FF 1.78%, #95ECFF 97.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-padding {
  padding: 80px 0;
}
@media (max-width: 768) {
  .section-padding {
    padding: 56px 0;
  }
}

.box {
  -webkit-clip-path: polygon(0% 2.414%, 0% 2.414%, 1.351% 2.193%, 5.083% 1.656%, 10.72% 0.992%, 17.783% 0.387%, 25.794% 0.031%, 34.275% 0.111%, 42.747% 0.816%, 50.733% 2.333%, 57.755% 4.851%, 63.333% 8.558%, 63.333% 8.558%, 67.46% 11.266%, 72.046% 12.47%, 76.879% 12.457%, 81.751% 11.515%, 86.451% 9.93%, 90.768% 7.989%, 94.491% 5.981%, 97.411% 4.19%, 99.318% 2.906%, 100% 2.414%, 100% 93.452%, 100% 93.452%, 99.051% 93.849%, 96.403% 94.866%, 92.357% 96.236%, 87.21% 97.695%, 81.263% 98.977%, 74.815% 99.817%, 68.165% 99.949%, 61.613% 99.109%, 55.458% 97.032%, 50% 93.452%, 50% 93.452%, 44.542% 89.871%, 38.387% 87.794%, 31.835% 86.954%, 25.185% 87.086%, 18.737% 87.926%, 12.79% 89.208%, 7.643% 90.667%, 3.597% 92.037%, 0.949% 93.054%, 0% 93.452%, 0% 2.414%);
          clip-path: polygon(0% 2.414%, 0% 2.414%, 1.351% 2.193%, 5.083% 1.656%, 10.72% 0.992%, 17.783% 0.387%, 25.794% 0.031%, 34.275% 0.111%, 42.747% 0.816%, 50.733% 2.333%, 57.755% 4.851%, 63.333% 8.558%, 63.333% 8.558%, 67.46% 11.266%, 72.046% 12.47%, 76.879% 12.457%, 81.751% 11.515%, 86.451% 9.93%, 90.768% 7.989%, 94.491% 5.981%, 97.411% 4.19%, 99.318% 2.906%, 100% 2.414%, 100% 93.452%, 100% 93.452%, 99.051% 93.849%, 96.403% 94.866%, 92.357% 96.236%, 87.21% 97.695%, 81.263% 98.977%, 74.815% 99.817%, 68.165% 99.949%, 61.613% 99.109%, 55.458% 97.032%, 50% 93.452%, 50% 93.452%, 44.542% 89.871%, 38.387% 87.794%, 31.835% 86.954%, 25.185% 87.086%, 18.737% 87.926%, 12.79% 89.208%, 7.643% 90.667%, 3.597% 92.037%, 0.949% 93.054%, 0% 93.452%, 0% 2.414%);
  background-color: #172133;
}
@media (max-width: 992px) {
  .box {
    -webkit-clip-path: polygon(0% 1.787%, 0% 1.787%, 1.279% 1.644%, 4.824% 1.291%, 10.197% 0.845%, 16.962% 0.421%, 24.679% 0.136%, 32.913% 0.104%, 41.225% 0.442%, 49.178% 1.266%, 56.335% 2.691%, 62.257% 4.833%, 62.257% 4.833%, 66.562% 6.346%, 71.316% 7.043%, 76.305% 7.076%, 81.318% 6.603%, 86.141% 5.777%, 90.564% 4.754%, 94.374% 3.688%, 97.358% 2.735%, 99.304% 2.05%, 100% 1.787%, 100% 97.224%, 100% 97.224%, 99.028% 97.388%, 96.323% 97.806%, 92.199% 98.37%, 86.97% 98.969%, 80.951% 99.497%, 74.455% 99.842%, 67.798% 99.897%, 61.293% 99.551%, 55.256% 98.697%, 50% 97.224%, 50% 97.224%, 44.744% 95.752%, 38.707% 94.897%, 32.202% 94.552%, 25.545% 94.607%, 19.049% 94.952%, 13.03% 95.479%, 7.801% 96.079%, 3.677% 96.643%, 0.972% 97.061%, 0% 97.224%, 0% 1.787%);
            clip-path: polygon(0% 1.787%, 0% 1.787%, 1.279% 1.644%, 4.824% 1.291%, 10.197% 0.845%, 16.962% 0.421%, 24.679% 0.136%, 32.913% 0.104%, 41.225% 0.442%, 49.178% 1.266%, 56.335% 2.691%, 62.257% 4.833%, 62.257% 4.833%, 66.562% 6.346%, 71.316% 7.043%, 76.305% 7.076%, 81.318% 6.603%, 86.141% 5.777%, 90.564% 4.754%, 94.374% 3.688%, 97.358% 2.735%, 99.304% 2.05%, 100% 1.787%, 100% 97.224%, 100% 97.224%, 99.028% 97.388%, 96.323% 97.806%, 92.199% 98.37%, 86.97% 98.969%, 80.951% 99.497%, 74.455% 99.842%, 67.798% 99.897%, 61.293% 99.551%, 55.256% 98.697%, 50% 97.224%, 50% 97.224%, 44.744% 95.752%, 38.707% 94.897%, 32.202% 94.552%, 25.545% 94.607%, 19.049% 94.952%, 13.03% 95.479%, 7.801% 96.079%, 3.677% 96.643%, 0.972% 97.061%, 0% 97.224%, 0% 1.787%);
  }
}
@media (max-width: 768px) {
  .box {
    -webkit-clip-path: polygon(0% 0.054%, 0% 0.054%, 1.245% 0.043%, 4.699% 0.024%, 9.945% 0.02%, 16.562% 0.054%, 24.132% 0.147%, 32.235% 0.324%, 40.452% 0.606%, 48.365% 1.015%, 55.553% 1.575%, 61.597% 2.308%, 61.597% 2.308%, 65.988% 2.759%, 70.831% 2.886%, 75.91% 2.754%, 81.01% 2.428%, 85.916% 1.974%, 90.412% 1.456%, 94.284% 0.941%, 97.316% 0.491%, 99.293% 0.174%, 100% 0.054%, 100% 98.795%, 100% 98.795%, 99.038% 98.865%, 96.357% 99.046%, 92.265% 99.289%, 87.07% 99.548%, 81.081% 99.776%, 74.605% 99.925%, 67.951% 99.948%, 61.427% 99.799%, 55.34% 99.43%, 50% 98.795%, 50% 98.795%, 44.66% 98.159%, 38.573% 97.791%, 32.049% 97.641%, 25.395% 97.665%, 18.919% 97.814%, 12.93% 98.042%, 7.735% 98.301%, 3.643% 98.544%, 0.962% 98.724%, 0% 98.795%, 0% 0.054%);
            clip-path: polygon(0% 0.054%, 0% 0.054%, 1.245% 0.043%, 4.699% 0.024%, 9.945% 0.02%, 16.562% 0.054%, 24.132% 0.147%, 32.235% 0.324%, 40.452% 0.606%, 48.365% 1.015%, 55.553% 1.575%, 61.597% 2.308%, 61.597% 2.308%, 65.988% 2.759%, 70.831% 2.886%, 75.91% 2.754%, 81.01% 2.428%, 85.916% 1.974%, 90.412% 1.456%, 94.284% 0.941%, 97.316% 0.491%, 99.293% 0.174%, 100% 0.054%, 100% 98.795%, 100% 98.795%, 99.038% 98.865%, 96.357% 99.046%, 92.265% 99.289%, 87.07% 99.548%, 81.081% 99.776%, 74.605% 99.925%, 67.951% 99.948%, 61.427% 99.799%, 55.34% 99.43%, 50% 98.795%, 50% 98.795%, 44.66% 98.159%, 38.573% 97.791%, 32.049% 97.641%, 25.395% 97.665%, 18.919% 97.814%, 12.93% 98.042%, 7.735% 98.301%, 3.643% 98.544%, 0.962% 98.724%, 0% 98.795%, 0% 0.054%);
  }
}

* {
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

img {
  width: 100%;
}

html body {
  font-family: "Manrope", sans-serif;
  background: #0B1425;
}
html body header .navbar-main .navbar .container .navbar-collapse .navbar-nav .nav-item {
  margin-right: 24px;
}
html body header .navbar-main .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #E1E0E0;
  border-bottom: 1px solid transparent;
}
html body header .navbar-main .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 1px solid #79E8FF;
}
html body header .section-hero {
  padding-top: 146px;
}
@media only screen and (max-width: 1200px) {
  html body header .section-hero {
    padding-top: 0;
  }
}
html body header .section-hero .container:before {
  content: "";
  width: 33.96%;
  aspect-ratio: 489/547;
  background: url(./img/hero-top-left-bg.png) no-repeat center center/contain;
  position: absolute;
  left: 0;
  top: 0;
}
html body header .section-hero .container::after {
  content: "";
  width: 40.21%;
  aspect-ratio: 579/676;
  background: url(./img/hero-top-right-bg.png) no-repeat center center/contain;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
@media only screen and (max-width: 992px) {
  html body header .section-hero .container::after {
    display: none;
  }
}
html body header .section-hero .subheading {
  color: #D1D0D0;
  font-size: 14px;
}
html body header .section-hero h1 {
  color: #E1E0E0;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.13;
}
@media only screen and (max-width: 768px) {
  html body header .section-hero h1 {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 576px) {
  html body header .section-hero h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 310px) {
  html body header .section-hero h1 {
    font-size: 1.7rem;
  }
}
html body header .section-hero p {
  color: #F3F3F3;
}
@media only screen and (max-width: 576px) {
  html body .section-logo img {
    display: inline-block;
    width: 40%;
    margin: 0 30%;
  }
}
html body .section-feature article .feature-list ul {
  list-style: none;
}
html body .section-feature article .feature-list ul li {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
html body .section-feature article .feature-list ul li .tick-img {
  height: 24px;
  width: 24px;
  background: url(./img/tickcircle.png) no-repeat center center/contain;
  display: inline-block;
  margin-right: 6px;
}
html body .section-service .section-padding {
  padding: 80px 0 160px;
}
@media only screen and (max-width: 576px) {
  html body .section-service .section-padding {
    padding: 48px 0;
  }
}
html body .section-service .box .heading {
  margin-top: 14px;
}
html body .section-service .box .row {
  position: relative;
}
html body .section-service .box .row:after {
  content: "";
  background-image: url(./img/service-line-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: absolute;
  top: -1%;
  left: 2%;
  width: 95%;
  height: 100%;
}
@media only screen and (max-width: 1200px) {
  html body .section-service .box .row:after {
    top: -15%;
  }
}
@media only screen and (max-width: 768px) {
  html body .section-service .box .row:after {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  html body .section-service .box .row .col-md {
    padding-left: 2px;
    padding-right: 2px;
  }
}
@media only screen and (max-width: 576px) {
  html body .section-service .box .row .col-md {
    margin-bottom: 24px;
  }
}
html body .section-service .box .row .col-md .service {
  height: 464px;
}
@media only screen and (max-width: 992px) {
  html body .section-service .box .row .col-md .service {
    height: 327px;
  }
}
@media only screen and (max-width: 768px) {
  html body .section-service .box .row .col-md .service {
    height: 296px;
  }
}
@media only screen and (max-width: 576px) {
  html body .section-service .box .row .col-md .service {
    height: auto;
    margin-bottom: 12px;
  }
}
html body .section-service .box .row .col-md .service .logo {
  position: relative;
  width: 100%;
  z-index: 2;
}
html body .section-service .box .row .col-md .service .logo .circle {
  width: 100%;
  aspect-ratio: 1/1;
  background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
  margin-bottom: 20px;
}
html body .section-service .box .row .col-md .service .logo .circle svg {
  width: 50%;
}
@media only screen and (max-width: 576px) {
  html body .section-service .box .row .col-md .service .logo .circle {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
html body .section-service .box .row .col-md .service .logo h3 {
  margin-bottom: 8px;
}
@media only screen and (max-width: 992px) {
  html body .section-service .box .row .col-md .service .logo h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  html body .section-service .box .row .col-md .service .logo h3 {
    font-size: 16px;
  }
}
html body .section-service .box .row .col-md .service .logo a {
  font-family: inter;
  text-decoration-line: underline;
  background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html body .section-service .box .row .col-md .service .logo a:after {
  content: "";
  width: 100px;
  height: 2px;
  background-clip: unset;
  --webkit-background-clip: unset;
  background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
  z-index: 3;
}
@media only screen and (max-width: 768px) {
  html body .section-service .box .row .col-md .service .logo a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 576px) {
  html body .section-service .box .row .col-md .service:last-child {
    margin-top: 0;
  }
}
html body .section-team:before {
  content: "";
  width: 140px;
  aspect-ratio: 70/131;
  background: url(./img/team-sec-top-right-bg.png) no-repeat center center/contain;
  position: absolute;
  right: 0;
  top: 130px;
}
@media only screen and (max-width: 768px) {
  html body .section-team:before {
    opacity: 0.5;
  }
}
html body .section-team .heading p {
  max-width: 871px;
  margin-left: auto;
  margin-right: auto;
}
html body .section-team .row {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 768px) {
  html body .section-case .section-padding {
    padding: 80px 0 80px;
  }
}
@media only screen and (max-width: 576px) {
  html body .section-case .section-padding {
    padding: 48px 0;
  }
}
html body .section-case .img-container {
  height: 399px;
  flex-shrink: 0;
  border-radius: 16px;
}
html body .section-case .img-container.case-study-1 {
  background: linear-gradient(0deg, rgba(13, 13, 13, 0.83) 29.32%, rgba(255, 255, 255, 0) 65.54%), url(./img/case-study-1.png) no-repeat center center/cover;
}
html body .section-case .img-container.case-study-2 {
  background: linear-gradient(0deg, rgba(13, 13, 13, 0.83) 29.32%, rgba(255, 255, 255, 0) 65.54%), url(./img/case-study-2.png) no-repeat center center/cover;
}
html body .section-case .img-container a {
  font-size: 20px;
  font-weight: 700;
}
html body .section-blog .container:before {
  content: "";
  width: 26.04167%;
  aspect-ratio: 311/420;
  background: url(./img/blog-sec-top-left-bg.png) no-repeat center center/contain;
  position: absolute;
  left: 0;
  top: -300px;
}
@media only screen and (max-width: 768px) {
  html body .section-blog .container:before {
    opacity: 0.5;
  }
}
html body .section-blog .container::after {
  content: "";
  width: 17.56944%;
  aspect-ratio: 253/609;
  background: url(./img/blog-sec-bottom-right-bg.png) no-repeat center center/contain;
  position: absolute;
  right: 0;
  bottom: -140px;
}
@media only screen and (max-width: 768px) {
  html body .section-blog .container::after {
    opacity: 0.5;
  }
}
html body .section-blog .card {
  background: transparent;
  border-color: transparent;
}
html body .section-blog .card img {
  border-radius: 12px;
}
html body .section-blog .card .card-body {
  padding: 24px 56px 33px 15px;
}
@media (max-width: 991px) {
  html body .section-blog .card .card-body {
    padding: 24px 16px 16px;
  }
}
html body .section-blog .card .card-body .d-flex {
  height: 168px;
}
@media only screen and (max-width: 1400px) {
  html body .section-blog .card .card-body .d-flex {
    height: 192px;
  }
}
@media only screen and (max-width: 1200px) {
  html body .section-blog .card .card-body .d-flex {
    height: 240px;
  }
}
@media (max-width: 991px) {
  html body .section-blog .card .card-body .d-flex {
    height: 264px;
  }
}
@media only screen and (max-width: 768px) {
  html body .section-blog .card .card-body .d-flex {
    height: 120px;
  }
}
@media only screen and (max-width: 576px) {
  html body .section-blog .card .card-body .d-flex {
    height: auto;
  }
}
html body .section-blog .card .card-body .card-text {
  color: #C8C8C8;
}
html body .section-blog .card .card-body a {
  font-family: inter;
  text-decoration-line: underline;
  background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
html body .section-blog .card .card-body a:after {
  content: "";
  width: 100%;
  height: 2px;
  background-clip: unset;
  --webkit-background-clip: unset;
  background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 6px;
  z-index: 2;
}
@media (hover: hover) {
  html body .section-blog .card:hover img {
    border-radius: 12px 12px 0px 0px;
  }
  html body .section-blog .card:hover .card-body {
    border-radius: 0px 0px 12px 12px;
    background: #172133;
    box-shadow: 0px 12px 60px 0px rgba(0, 0, 0, 0.1);
  }
}
@media not all and (hover: hover) {
  html body .section-blog .card img {
    border-radius: 12px 12px 0px 0px;
  }
  html body .section-blog .card .card-body {
    border-radius: 0px 0px 12px 12px;
    background: #172133;
    box-shadow: 0px 12px 60px 0px rgba(0, 0, 0, 0.1);
  }
}
html body .section-testimonial.section-padding {
  padding: 100px 0 105px;
}
html body .section-testimonial:before {
  content: "";
  width: 218px;
  aspect-ratio: 109/199;
  background: url(./img/cta-top-right-bg.png) no-repeat center center/contain;
  position: absolute;
  left: 0;
  bottom: -307px;
  z-index: 2;
}
@media (max-width: 1500px) {
  html body .section-testimonial:before {
    left: -48px;
  }
}
@media only screen and (max-width: 768px) {
  html body .section-testimonial:before {
    opacity: 0.5;
  }
}
html body .section-testimonial .heading {
  margin-bottom: 54px;
}
html body .section-testimonial .testimonial-content {
  padding: 75px 35px 35px 35px;
  border-radius: 6px;
  background: #172133;
}
html body .section-testimonial .testimonial-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  left: 35px;
  top: -40px;
}
html body .section-testimonial .testimonial-img.img-1 {
  background: url(./img/testimonial_person_1.png), lightgray -37.971px 0px/149.927% 100% no-repeat;
}
html body .section-testimonial .testimonial-img.img-2 {
  background: url(./img/testimonial_person_2.png), lightgray -37.971px 0px/149.927% 100% no-repeat;
}
html body .section-testimonial .testimonial-text {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 35px;
  color: #E0E0E0;
  line-height: 1.75;
  letter-spacing: -0.24px;
}
html body .section-testimonial .testimonial-name {
  color: #CCD0D6;
  margin-bottom: 4px;
}
html body .section-testimonial .testimonial-title {
  color: #9497A1;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.21px;
}
html body .section-cta {
  -webkit-clip-path: polygon(0% 2.582%, 0% 2.582%, 1.351% 2.346%, 5.083% 1.772%, 10.72% 1.061%, 17.783% 0.414%, 25.794% 0.033%, 34.275% 0.119%, 42.747% 0.873%, 50.733% 2.496%, 57.755% 5.19%, 63.333% 9.156%, 63.333% 9.156%, 67.46% 12.052%, 72.046% 13.34%, 76.879% 13.327%, 81.751% 12.318%, 86.451% 10.623%, 90.768% 8.547%, 94.491% 6.398%, 97.411% 4.483%, 99.318% 3.109%, 100% 2.582%, 100% 99.976%, 50% 99.976%, 0% 99.976%, 0% 2.582%);
          clip-path: polygon(0% 2.582%, 0% 2.582%, 1.351% 2.346%, 5.083% 1.772%, 10.72% 1.061%, 17.783% 0.414%, 25.794% 0.033%, 34.275% 0.119%, 42.747% 0.873%, 50.733% 2.496%, 57.755% 5.19%, 63.333% 9.156%, 63.333% 9.156%, 67.46% 12.052%, 72.046% 13.34%, 76.879% 13.327%, 81.751% 12.318%, 86.451% 10.623%, 90.768% 8.547%, 94.491% 6.398%, 97.411% 4.483%, 99.318% 3.109%, 100% 2.582%, 100% 99.976%, 50% 99.976%, 0% 99.976%, 0% 2.582%);
  background: #172133;
}
@media only screen and (max-width: 992px) {
  html body .section-cta {
    -webkit-clip-path: polygon(0% 3.128%, 0% 3.128%, 1.24% 2.941%, 4.681% 2.464%, 9.907% 1.821%, 16.502% 1.137%, 24.049% 0.535%, 32.132% 0.141%, 40.335% 0.079%, 48.24% 0.473%, 55.432% 1.448%, 61.493% 3.128%, 61.493% 3.128%, 66.267% 4.558%, 71.338% 5.388%, 76.517% 5.724%, 81.618% 5.671%, 86.45% 5.335%, 90.826% 4.823%, 94.557% 4.24%, 97.455% 3.693%, 99.332% 3.287%, 100% 3.128%, 100% 99.976%, 50% 99.976%, 0% 99.976%, 0% 3.128%);
            clip-path: polygon(0% 3.128%, 0% 3.128%, 1.24% 2.941%, 4.681% 2.464%, 9.907% 1.821%, 16.502% 1.137%, 24.049% 0.535%, 32.132% 0.141%, 40.335% 0.079%, 48.24% 0.473%, 55.432% 1.448%, 61.493% 3.128%, 61.493% 3.128%, 66.267% 4.558%, 71.338% 5.388%, 76.517% 5.724%, 81.618% 5.671%, 86.45% 5.335%, 90.826% 4.823%, 94.557% 4.24%, 97.455% 3.693%, 99.332% 3.287%, 100% 3.128%, 100% 99.976%, 50% 99.976%, 0% 99.976%, 0% 3.128%);
  }
}
@media only screen and (max-width: 768px) {
  html body .section-cta {
    -webkit-clip-path: polygon(0.09% 0.906%, 0.09% 0.906%, 0.97% 0.851%, 3.453% 0.712%, 7.306% 0.524%, 12.295% 0.323%, 18.187% 0.147%, 24.747% 0.032%, 31.743% 0.014%, 38.94% 0.129%, 46.105% 0.414%, 53.004% 0.906%, 53.004% 0.906%, 58.79% 1.312%, 64.941% 1.548%, 71.228% 1.643%, 77.421% 1.628%, 83.29% 1.533%, 88.607% 1.387%, 93.141% 1.222%, 96.664% 1.066%, 98.946% 0.951%, 99.758% 0.906%, 99.758% 99.943%, 49.924% 99.943%, 0.09% 99.943%, 0.09% 0.906%);
            clip-path: polygon(0.09% 0.906%, 0.09% 0.906%, 0.97% 0.851%, 3.453% 0.712%, 7.306% 0.524%, 12.295% 0.323%, 18.187% 0.147%, 24.747% 0.032%, 31.743% 0.014%, 38.94% 0.129%, 46.105% 0.414%, 53.004% 0.906%, 53.004% 0.906%, 58.79% 1.312%, 64.941% 1.548%, 71.228% 1.643%, 77.421% 1.628%, 83.29% 1.533%, 88.607% 1.387%, 93.141% 1.222%, 96.664% 1.066%, 98.946% 0.951%, 99.758% 0.906%, 99.758% 99.943%, 49.924% 99.943%, 0.09% 99.943%, 0.09% 0.906%);
  }
}
html body .section-cta.section-padding {
  padding-top: 180px;
}
html body .section-cta .info .heading {
  margin-bottom: 24px;
}
html body .section-cta .info p {
  color: #CCD0D6;
  margin-bottom: 80px;
}
@media only screen and (max-width: 768px) {
  html body .section-cta .info p {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 576px) {
  html body .section-cta .info p {
    margin-bottom: 40px;
  }
}
html body .section-cta .info ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-left: 0;
}
html body .section-cta .info ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
html body .section-cta .info ul li address {
  color: #CCD0D6;
}
html body .section-cta .info ul li a {
  display: block;
  color: #CCD0D6;
}
html body .section-cta .cta-input {
  width: 445px;
  border-radius: 12px;
  background: #0B1425;
  box-shadow: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);
  padding: 50px;
}
html body .section-cta .cta-input .heading {
  margin-bottom: 30px;
}
html body .section-cta .cta-input .form-group {
  margin-bottom: 20px;
}
html body .section-cta .cta-input .form-group label {
  color: #9497A1;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.18px;
}
html body .section-cta .cta-input .form-group input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #9497A1;
  border-radius: 0;
  padding-left: 0;
}
html body .section-cta .cta-input .form-group input::-moz-placeholder {
  color: #CCD0D6;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.21px;
}
html body .section-cta .cta-input .form-group input::placeholder {
  color: #CCD0D6;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.21px;
}
html body .section-cta .cta-input .btn-container {
  margin-top: 63px;
}
@media only screen and (max-width: 576px) {
  html body .section-cta .cta-input {
    width: auto;
    margin: 8px;
    padding: 24px;
  }
}
html body .footer-cta {
  padding: 80px 0;
  background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
}
html body .footer-cta input {
  padding: 15px 25px;
  border: none;
  border-radius: 6px;
  background: #172133;
  color: #CCD0D6;
}
html body .footer-cta input:focus {
  color: #fff;
  background: #172133;
  box-shadow: none;
}
html body .footer-cta input::-moz-placeholder {
  color: #CCD0D6;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.21px;
}
html body .footer-cta input::placeholder {
  color: #CCD0D6;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.21px;
}
html body .footer-cta-btn {
  display: flex;
  width: 125px;
  height: 54px;
  padding: 11px 46px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #FFF;
}
html body .footer-cta-btn span {
  font-weight: 800;
}
html body .footer-cta-btn:hover {
  background: #f3f4f5;
}
html body .footer-main {
  padding: 78px 0 81px;
  background: #0B1425;
}
@media only screen and (max-width: 768px) {
  html body .footer-main {
    padding: 48px 0 20px;
  }
}
html body .footer-main .logo img {
  width: auto;
}
html body .footer-main-title {
  color: #CCD0D6;
  font-family: Manrope;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.24px;
}
html body .footer-main ul li {
  color: #CCD0D6;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.21px;
}
html body .footer-main ul li.right-reserved {
  margin-right: 87px;
}
@media only screen and (max-width: 992px) {
  html body .footer-main ul li.right-reserved {
    margin-right: 12px;
  }
}
html body .footer-main ul li a {
  color: #CCD0D6;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.21px;
}
html body .footer-main hr {
  border-top-color: #1A3449;
  opacity: 1;
}
html body .footer-main .contacts > * {
  color: #CCD0D6;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.21px;
}
html body .footer-main .footer-social li {
  margin-bottom: 12px;
}
html body .footer-main .footer-social li a {
  width: 25px;
  height: 25px;
}
html body .footer-main .footer-social li a .fa-brands {
  color: #0B1425;
}
html body .footer-main .footer-social li a:hover {
  background: #000 !important;
}
html body .footer-main .footer-social li a:hover .fa-brands {
  color: transparent;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
}
html body .footer-main .footer-social .list-inline-item:not(:last-child) {
  margin-right: 15px;
}
html body .footer-main .gap-76 {
  gap: 76px;
}
@media only screen and (max-width: 768px) {
  html body .footer-main .gap-76 {
    gap: 12px;
  }
}/*# sourceMappingURL=style.css.map */