

@import "config";
@import "utility";
@import "function";
@import "resopnsive";


* {
  padding: 0;
  margin: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  text-transform:capitalize;
}
img {
  width: 100%;
}

html{
  body{
    font-family: 'Manrope', sans-serif;
    background: $main-bg;
    header{
      .navbar-main{
        
        .navbar{
          
          .container{
            
            .navbar-collapse{
             
              .navbar-nav{
           
                .nav-item{
                  margin-right: 24px;
                  .nav-link{
              
                    color: #E1E0E0;
                    border-bottom: 1px solid transparent;
                    &:hover{
                      border-bottom: 1px solid $primary-color;
                    }
                  }
                }
              }
            }
          }

        }
      }
      .section-hero{
        padding-top: 146px;
       
        @include xl {
          padding-top: 0;
        }
        .container{

          &:before{
            content: "";
            width: 33.96%;
            aspect-ratio:489 / 547 ;
            background: url(./img/hero-top-left-bg.png) no-repeat center center/contain;
            position: absolute;
            left:0;
            top:0;
          }
          &::after{
            content: "";
            width: 40.21%;
            aspect-ratio: 579 / 676 ;
            background: url(./img/hero-top-right-bg.png) no-repeat center center/contain;
            position: absolute;
            right:0;
            top:0;
            z-index: -1;
            @include lg {
              display: none;
            }
          }
        }
        .subheading{
          color: #D1D0D0;
          font-size: 14px;
        }
        h1{
          color: #E1E0E0;
          font-size: 4rem;
          font-weight: 800;
          line-height: 1.13;
          @include md {
            font-size: 3.5rem;
          } 
          @include sm {
            font-size: 2.8rem;
          } 
          @media(max-width: 310px){
            font-size: 1.7rem;
          } 
        }
        p{
          color: #F3F3F3;
        }
      }
    }
    .section{
      &-logo{
        @include sm {
          img{
            display: inline-block;
            width: 40%;
            margin: 0 30%;
          }
        }
      }
    
      &-feature{
        article{
          .feature-list{
            
            ul{
              list-style: none;
              li{
                display: flex;
                align-items: center;
                margin-bottom: 16px;
                .tick-img{
                  height: 24px;
                  width: 24px;
                  background: url(./img/tickcircle.png) no-repeat center center/contain;
                  display: inline-block;
                  margin-right: 6px;
                }
              }
            }
          }
        }
      }
      &-service{
        .section-padding{
          padding:80px 0 160px;
          @include sm{
            padding:48px 0;
          }
        }
     
        
        .box{
        
          .heading{
          margin-top: 14px;
          }
          .row{
            position: relative;
          
            
            &:after{
              content: "";
              background-image: url(./img/service-line-bg.png);
              background-position: center center;
              background-repeat: no-repeat;
              background-size: contain;
              display: inline-block;
              position: absolute;
              top: -1%;
              left: 2%;
              width: 95%;
              height: 100%;
              
                @include xl {
                  top: -15%;
                }
                
                @include md {
                  display: none;
                }
              }
            
            .col-md{
              @include md {
                padding-left: 2px;
                padding-right:2px;
              }
              @include sm{
                margin-bottom: 24px;
              }
              .service{
                height: 464px ;
                @include lg {
                  height:327px;
                }
                @include md {
                  height: 296px;
                }
                @include sm{
                  height: auto;
                  margin-bottom: 12px;
                }
                
                .logo{
                  position: relative;
                  width: 100%;
                  z-index: 2;
                  .circle{
                    width: 100%;
                    aspect-ratio: 1/1;
                    background: $primary-gradiant-color;
                    margin-bottom: 20px;
                    svg{
                      width: 50%;
                    }
                    @include sm {
                      width: 70%;
                      margin-left: auto;
                      margin-right: auto;
                    }
                  }
                  h3{
                    margin-bottom: 8px;
                    @include lg {
                      font-size: 20px;
                    }
                    @include md {
                      font-size: 16px;
                    }
                  }
                  a{
                    font-family: inter;
                    text-decoration-line: underline;
                    background: $primary-gradiant-color;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    &:after{
                      content: "";
                      width: 100px;
                      height: 2px;
                      background-clip: unset;
                      --webkit-background-clip: unset;
                      background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
                      position: absolute;
                      left: 50%;
                      transform: translateX(-50%);
                      bottom: -2px;
                      z-index: 3
                    }
                    @include md {
                      font-size: 14px;
                    }
                  }
                }
              }
              .service:last-child{
                @include sm{
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
      &-team{
        &:before{
          content: "";
          width: 140px;
          aspect-ratio:70 / 131 ;
          background: url(./img/team-sec-top-right-bg.png) no-repeat center center/contain;
          position: absolute;
          right:0;
          top: 130px;
          @include md {
            opacity:0.5;
          }
        }
        .heading{
          p{
            max-width: 871px;
            margin-left: auto;
            margin-right: auto;
          }
        }
        .row{
          max-width: 850px;
          margin-left: auto;
            margin-right: auto;
        }
      }
      &-case{
        .section-padding{
          @include md {
            padding:80px 0 80px;

          }
          @include sm{
            padding:48px 0;
          }
        }
       
        .img-container{
          height: 399px;
          flex-shrink: 0;
          border-radius: 16px;
          &.case-study-1{
            background: linear-gradient(0deg, rgba(13, 13, 13, 0.83) 29.32%, rgba(255, 255, 255, 0.00) 65.54%), url(./img/case-study-1.png) no-repeat center center/cover ;
          }
          &.case-study-2{
            background: linear-gradient(0deg, rgba(13, 13, 13, 0.83) 29.32%, rgba(255, 255, 255, 0.00) 65.54%), url(./img/case-study-2.png) no-repeat center center/cover ;
          }
          a{
            font-size: 20px;
            font-weight: 700;
          }
        }
      }
      &-blog{
        &:before{
          content: "";
          width: 375px;
          aspect-ratio:311 / 420 ;
          background: url(./img/blog-sec-top-left-bg.png) no-repeat center center/contain;
          position: absolute;
          left:0;
          top: -300px;
          
          @include md {
            opacity:0.5;
          }
        }
        &::after{
          content: "";
          width: 253px;
          aspect-ratio:253 / 609 ;
          background: url(./img/blog-sec-bottom-right-bg.png) no-repeat center center/contain;
          position: absolute;
          right:0;
          bottom: -140px;
          @include md {
            opacity:0.5;
          }
        }
        .card{
          background: transparent;
          border-color: transparent;
          img{
            border-radius: 12px;
          }
          .card-body{
            padding: 24px 56px 33px 15px;
            @media(max-width:991px) {
              padding: 24px 16px 16px;
            }
            .d-flex{
              height: 168px;
              @include xxl {
                height: 192px;
                
              }
              @include xl {
                height: 240px;
                
              }
              @media(max-width:991px) {
                height: 264px;
                
              }
              @include md {
                height: 120px; 
              }
              @include sm {
                height: auto; 
              }
            }
            .card-text{
              color: #C8C8C8;
            }
            a{
              font-family: inter;
              text-decoration-line: underline;
              background: $primary-gradiant-color;
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              position: relative;
             
              &:after{
                content: "";
                width: 100%;
                height: 2px;
                background-clip: unset;
                --webkit-background-clip: unset;
                background: linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 6px;
                z-index: 2
              }
              
            }
          }
          // Styles for devices that support hover interactions
          @media(hover:hover){
            &:hover{
              img{
                border-radius: 12px 12px 0px 0px;
              }
              .card-body{
                border-radius: 0px 0px 12px 12px;
                background: #172133;
                box-shadow: 0px 12px 60px 0px rgba(0, 0, 0, 0.10);
              }
            }
          }
            // Styles for devices that do not support hover interactions
          @media not all and (hover:hover){
            img{
              border-radius: 12px 12px 0px 0px;
            }
            .card-body{
              border-radius: 0px 0px 12px 12px;
              background: #172133;
              box-shadow: 0px 12px 60px 0px rgba(0, 0, 0, 0.10);
            }
          }
        }
      }
      &-testimonial{    
        &.section-padding{
          padding: 100px 0 105px;
        }
        &:before{
          content: "";
          width: 218px;
          aspect-ratio:109 / 199 ;
          background: url(./img/cta-top-right-bg.png) no-repeat center center/contain;
          position: absolute;
          left: 0;
          bottom: -307px;
          z-index: 2;
          @media(max-width:1500px){
            left: -48px;
          }
          @include md {
            opacity:0.5;
          }
        }
        .heading{
          margin-bottom: 54px;
        }
        .testimonial{
          &-content{
            padding: 75px 35px 35px 35px;
            border-radius: 6px;
            background: #172133;
          }
          &-img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            left: 35px;
            top: -40px;
            &.img-1{
              background: url(./img/testimonial_person_1.png), lightgray -37.971px 0px / 149.927% 100% no-repeat;
            }
            &.img-2{
              background: url(./img/testimonial_person_2.png), lightgray -37.971px 0px / 149.927% 100% no-repeat;
            }
          }
          &-text{
            font-family: 'Open Sans', sans-serif;
            margin-bottom: 35px;
            color: #E0E0E0;
            line-height: 1.75;
            letter-spacing: -0.24px;
          }
          &-name{
            color: #CCD0D6;
            margin-bottom: 4px;
          }
          &-title{
            color: #9497A1;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            line-height: 24px; /* 171.429% */
            letter-spacing: -0.21px;
          }
        }
      }
      &-cta{
        clip-path: polygon( 0% 2.582%,0% 2.582%,1.351% 2.346%,5.083% 1.772%,10.72% 1.061%,17.783% 0.414%,25.794% 0.033%,34.275% 0.119%,42.747% 0.873%,50.733% 2.496%,57.755% 5.19%,63.333% 9.156%,63.333% 9.156%,67.46% 12.052%,72.046% 13.34%,76.879% 13.327%,81.751% 12.318%,86.451% 10.623%,90.768% 8.547%,94.491% 6.398%,97.411% 4.483%,99.318% 3.109%,100% 2.582%,100% 99.976%,50% 99.976%,0% 99.976%,0% 2.582% );
        background: #172133;
        @include lg {
          clip-path: polygon( 0% 3.128%,0% 3.128%,1.24% 2.941%,4.681% 2.464%,9.907% 1.821%,16.502% 1.137%,24.049% 0.535%,32.132% 0.141%,40.335% 0.079%,48.24% 0.473%,55.432% 1.448%,61.493% 3.128%,61.493% 3.128%,66.267% 4.558%,71.338% 5.388%,76.517% 5.724%,81.618% 5.671%,86.45% 5.335%,90.826% 4.823%,94.557% 4.24%,97.455% 3.693%,99.332% 3.287%,100% 3.128%,100% 99.976%,50% 99.976%,0% 99.976%,0% 3.128% );
        }
        @include md {
          clip-path: polygon( 0.09% 0.906%,0.09% 0.906%,0.97% 0.851%,3.453% 0.712%,7.306% 0.524%,12.295% 0.323%,18.187% 0.147%,24.747% 0.032%,31.743% 0.014%,38.94% 0.129%,46.105% 0.414%,53.004% 0.906%,53.004% 0.906%,58.79% 1.312%,64.941% 1.548%,71.228% 1.643%,77.421% 1.628%,83.29% 1.533%,88.607% 1.387%,93.141% 1.222%,96.664% 1.066%,98.946% 0.951%,99.758% 0.906%,99.758% 99.943%,49.924% 99.943%,0.09% 99.943%,0.09% 0.906% );
        }
        &.section-padding{
          padding-top: 180px;
        }
        .info{
          .heading{
            margin-bottom: 24px;
          }
          p{
            color: #CCD0D6;
            margin-bottom: 80px;
            @include md {
              margin-bottom:50px ;
            }
            @include sm {
              margin-bottom:40px ;
            }
          }
            ul{
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 24px;
              padding-left:0;
              li{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 2px;
                address{
                  color: #CCD0D6;
                }
                a{
                  display: block;
                  color: #CCD0D6;
                }
              }
            }
        }
        .cta-input{
          width: 445px;
          border-radius: 12px;
          background: #0B1425;
          box-shadow: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);
          padding:50px;
          .heading{
            margin-bottom: 30px;
          }
          .form-group{
            margin-bottom: 20px;
           
            label{
              color: #9497A1;
              font-family: Open Sans;
              font-size: 12px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
              letter-spacing: -0.18px;
            }
            input{
              background: transparent;
              border: 0;
              border-bottom: 1px solid #9497A1;
              border-radius: 0;
              padding-left: 0;
              &::placeholder{
                color: #CCD0D6;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px; /* 171.429% */
                letter-spacing: -0.21px;
              }
            }
          }
          .btn-container{
            margin-top: 63px;
          }
          @include sm {
            width: auto;
            margin:8px;
            padding:24px;
          }
        }
      }
    }
    .footer{
      &-cta{
        padding: 80px 0;
        background: $primary-gradiant-color;
        input{
          padding: 15px 25px;
          border: none;
          border-radius: 6px;
          background: #172133;
          color:#CCD0D6;
          &:focus{
            color: #fff;
            background: #172133;
            box-shadow: none;
          }
          &::placeholder{
            color: #CCD0D6;
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: -0.21px;
          }
        }
        &-btn{
          display: flex;
          width: 125px;
          height: 54px;
          padding: 11px 46px;
          justify-content: center;
          align-items: center;
          gap: 12px;
          flex-shrink: 0;
          border-radius: 6px;
          background: #FFF;
          span{
            font-weight: 800;
          }
          &:hover{
            background:#f3f4f5;
          }
        }
      }
      &-main{
        padding:78px 0 81px;
        background: #0B1425;
        @include md {
          padding:48px 0 20px;
          
        }
        .logo{
          img{
            width: auto;
          }
        }
        &-title{
          color: #CCD0D6;
          font-family: Manrope;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: -0.24px;
        }
        ul{
          li{
            color: #CCD0D6;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.21px;
            &.right-reserved{
              margin-right: 87px;
              @include lg{
                margin-right: 12px;
              }
            }
            a{
              color: #CCD0D6;
              font-size: 14px;
              line-height: 24px;
              letter-spacing: -0.21px;
            }
          }
        }
        hr{
          border-top-color: #1A3449;
          opacity: 1;
         
        }
        .contacts{
          &>*{
            color: #CCD0D6;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
            letter-spacing: -0.21px;
          }
        }
        .footer-social{
          li{
            margin-bottom: 12px;
            a{
              width: 25px;
              height: 25px;
              .fa-brands{
                color: #0B1425;
              }
              &:hover{
                background: #000 !important;
                .fa-brands{
                  color: transparent;
                  position: relative;
                  background-clip: text;
                  -webkit-background-clip: text;
                  background-image: $primary-gradiant-color;
                }
              }
            }
          }
          .list-inline-item:not(:last-child) {
            margin-right: 15px;
        }
        }
        .gap-76{
          gap:76px;
          @include md{
            gap:12px;
          }
        }
      }
    }
  }
}
