/* rem and em DO NOT deppend on html font-size in media queries. instead, 1rem=1em=16px */
/* ******************************/
/* Below 1344 px (smallser dextop*/
/* ******************************/
@media (max-width: 84em) {
  .hero-container {
    max-width: 120rem;
  }
  .primary-heading {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  /* .section-testimonial-omni {
    grid-template-columns: 50fr 50fr;
    align-items: start;
  } */
}
/* *****************************/
/* Below 1200 px (Landscape Tabletes)*/
/* ******************************/
@media (max-width: 75em) {
  html {
    /* 9px/16px=56.25% */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .secondary-heading {
    font-size: 3.6rem;
  }
  .tertiary-heading {
    font-size: 2.4rem;
  }
  .header--omni {
    padding: 0 3.2rem;
  }
  .hero-container {
    gap: 4.8rem;
  }
  .nav-omni-list {
    gap: 3.2rem;
  }
  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }
}
/* *****************************/
/* Below 944 px (Tabletes)*/
/* ******************************/
@media (max-width: 59em) {
  html {
    /* 8px/16px=50% */
    font-size: 50%;
  }
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .omni-hero-img {
    width: 60%;
  }
  .customer-meal-omni {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .logos img {
    height: 2.4rem;
  }
  .step-no {
    font-size: 7.4rem;
  }
  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
  .section-testimonial-omni {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .cta {
    display: grid;
    grid-template-columns: 1fr;
  }
  .cta {
    /* 3/5 60% 2/5=50% */
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    display: grid;
    grid-template-columns: 1fr;
  }
  .btn--form {
    margin-top: 1.2rem;
  }
  /* Mobile Navigation */
  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }
  .nav-omni {
    background-color: hsla(0, 0%, 100%, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;

    /* Hide navigation */
    /* allow no trnsitions at all */
    /* display: none; */
    /*1) Hide it vissully  */
    opacity: 0;

    /* 2)Make it unaccessible to mouse and keybord */
    pointer-events: none;

    /* 3) hide it from Screen reader */
    visibility: hidden;
  }

  .nav-open .nav-omni {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-omni-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .nav-omni-link:link,
  .nav-omni-link:visited {
    font: 3rem;
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}
/* *****************************/
/* Below 704 px (smaller tablets)*/
/* ******************************/
@media (max-width: 44em) {
  .grid--3--cols,
  .grid--4--cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .diets {
    grid-column: 1/-1;
    justify-self: center;
  }
  .secondary-heading {
    margin-bottom: 4.8rem;
  }
  .pricing-plan {
    width: 100%;
  }
  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .logo-column,
  .address-column {
    grid-column: span 3;
  }
  .nav-column {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}

/* *****************************/
/* Below 560 px (smaller tablets)*/
/* ******************************/
@media (max-width: 35em) {
  .grid {
    row-gap: 4.8rem;
  }
  .grid--2--cols,
  .grid--3--cols,
  .grid--4--cols {
    grid-template-columns: 1fr;
  }
  .best-value::after {
    right: -13%;
  }
  .hero-container {
    padding: 0 3.2rem;
    gap: 3.2rem;
  }
  .omin-section-hero {
    padding: 2.4rem 0 6.4rem 0;
    background-color: #fdf2e9;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
  .omni-hero-img {
    width: 80%;
  }
  .logos img {
    height: 1.2rem;
  }
  .step-img-box-omni:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box-omni:nth-child(6) {
    grid-row: 5;
  }
  .step-img-box-omni {
    transform: translateY(2.4rem);
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }
  .cta {
    display: grid;
    /* 2/3=66.6% 1/3=33.3% */
    grid-template-columns: 1fr;
  }
  .cta-img-box {
    grid-row: 1;
    padding: 35%;
  }
  .cta-text-box {
    padding: 3.2rem;
  }
}

/*
 -FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-SPACING SYSTEM (px) 
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
*/
/* *****************************/
/* Fixing Safary flax gap here */
/* ******************************/
.no-flexbox-gap .nav-omni-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}
.no-flexbox-gap .meal-tag:not(:last-child) {
  margin-right: 0.4rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
