.container {
  max-width: $website-width;
  margin: auto;
  padding: 0 1.5rem;
  overflow: hidden;
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}
.btn {
  &-main {
    @extend %btn-shared;
    color: #333;
    background-color: $main-color;
  }
  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }
  &-dark {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $dark-color;
  }
}
button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: $main-color;
}
.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.text-center {
  text-align: center;
}

// Backgrounds

.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }
  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }
  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }
}

// Padding

.py {
  &-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  &-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  &-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
// Margin

.my {
  &-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  &-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}
.bottom-line {
  height: 2px;
  width: 3rem;
  background: $main-color;
  display: block;
  margin: 0 auto 1rem auto;
}
