@media (max-width: 1200px) {
  .section-padding {
    padding: 6.4rem 0;
  }
}
@media (max-width: 992px) {
  .section-padding {
    padding: 6rem 0;
  }
}
@media (max-width: 768px) {
  .section-padding {
    padding: 5.6rem 0;
  }
}
@media (max-width: 578px) {
  .section-padding {
    padding: 5.2rem 0;
  }
}
