// Variable

$primary-color:#79E8FF;
$primary-gradiant-color:linear-gradient(85deg, #104CAF 1.78%, #95ECFF 97.59%);
$primary-gradiant-service-color:linear-gradient(85deg, #5997FF 1.78%, #95ECFF 97.59%);
$main-bg:#0B1425;
