// Button

.btn{
  padding: 13px 51px;
  border-radius: 8px;
}

.btn.btn-primary-color{
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  flex-shrink: 0;
  background: $primary-gradiant-color;
  border:none;
}
.btn.btn-ouline-color{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background: $primary-gradiant-service-color;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.btn-outline-border {
  .btn.btn-ouline-color:after{
    // box-sizing: content-box;
    // border-radius: 8px;
    // border-width: 1px ;
    // border-style: solid;
    // border-image:  $primary-gradiant-color;
    // border-image-slice: 1;
    content: "";
    position:absolute;
    inset: 0;
    border-radius: 8px; /*1*/
    border: 1px solid transparent; /*2*/
    background: inherit; 
    background-origin: border-box;
    background-clip: border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; /*5'*/
            mask-composite: exclude; /*5*/
  }
}


// text color
.text-primary-color{
  color: $primary-color !important;
}
.text-white-shade{
  color: #f3f3f3 !important;
}
.text-gradient-color{
  background: linear-gradient(85deg, #5997FF 1.78%, #95ECFF 97.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// padding

.section-padding{
  padding:80px 0;
  @media(max-width:768){
    padding: 56px 0;
  }
}

// clip path
.box{
  clip-path: polygon(0% 2.414%, 0% 2.414%, 1.351% 2.193%, 5.083% 1.656%, 10.72% 0.992%, 17.783% 0.387%, 25.794% 0.031%, 34.275% 0.111%, 42.747% 0.816%, 50.733% 2.333%, 57.755% 4.851%, 63.333% 8.558%, 63.333% 8.558%, 67.46% 11.266%, 72.046% 12.47%, 76.879% 12.457%, 81.751% 11.515%, 86.451% 9.93%, 90.768% 7.989%, 94.491% 5.981%, 97.411% 4.19%, 99.318% 2.906%, 100% 2.414%, 100% 93.452%, 100% 93.452%, 99.051% 93.849%, 96.403% 94.866%, 92.357% 96.236%, 87.21% 97.695%, 81.263% 98.977%, 74.815% 99.817%, 68.165% 99.949%, 61.613% 99.109%, 55.458% 97.032%, 50% 93.452%, 50% 93.452%, 44.542% 89.871%, 38.387% 87.794%, 31.835% 86.954%, 25.185% 87.086%, 18.737% 87.926%, 12.79% 89.208%, 7.643% 90.667%, 3.597% 92.037%, 0.949% 93.054%, 0% 93.452%, 0% 2.414%);
   background-color: #172133;


   @media(max-width:992px){
    clip-path: polygon( 0% 1.787%,0% 1.787%,1.279% 1.644%,4.824% 1.291%,10.197% 0.845%,16.962% 0.421%,24.679% 0.136%,32.913% 0.104%,41.225% 0.442%,49.178% 1.266%,56.335% 2.691%,62.257% 4.833%,62.257% 4.833%,66.562% 6.346%,71.316% 7.043%,76.305% 7.076%,81.318% 6.603%,86.141% 5.777%,90.564% 4.754%,94.374% 3.688%,97.358% 2.735%,99.304% 2.05%,100% 1.787%,100% 97.224%,100% 97.224%,99.028% 97.388%,96.323% 97.806%,92.199% 98.37%,86.97% 98.969%,80.951% 99.497%,74.455% 99.842%,67.798% 99.897%,61.293% 99.551%,55.256% 98.697%,50% 97.224%,50% 97.224%,44.744% 95.752%,38.707% 94.897%,32.202% 94.552%,25.545% 94.607%,19.049% 94.952%,13.03% 95.479%,7.801% 96.079%,3.677% 96.643%,0.972% 97.061%,0% 97.224%,0% 1.787% );
   }
   @media(max-width:768px){
    clip-path: polygon( 0% 0.054%,0% 0.054%,1.245% 0.043%,4.699% 0.024%,9.945% 0.02%,16.562% 0.054%,24.132% 0.147%,32.235% 0.324%,40.452% 0.606%,48.365% 1.015%,55.553% 1.575%,61.597% 2.308%,61.597% 2.308%,65.988% 2.759%,70.831% 2.886%,75.91% 2.754%,81.01% 2.428%,85.916% 1.974%,90.412% 1.456%,94.284% 0.941%,97.316% 0.491%,99.293% 0.174%,100% 0.054%,100% 98.795%,100% 98.795%,99.038% 98.865%,96.357% 99.046%,92.265% 99.289%,87.07% 99.548%,81.081% 99.776%,74.605% 99.925%,67.951% 99.948%,61.427% 99.799%,55.34% 99.43%,50% 98.795%,50% 98.795%,44.66% 98.159%,38.573% 97.791%,32.049% 97.641%,25.395% 97.665%,18.919% 97.814%,12.93% 98.042%,7.735% 98.301%,3.643% 98.544%,0.962% 98.724%,0% 98.795%,0% 0.054% );
   }
  }